<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.promotion.cpc.biz.dao.ActivityPictureInfoDAO" >
  <resultMap id="BaseResultMap" type="cn.htd.promotion.cpc.dto.response.ActivityPictureInfoResDTO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="picture_id" property="pictureId" jdbcType="VARCHAR" />
    <result column="picture_name" property="pictureName" jdbcType="VARCHAR" />
    <result column="picture_type" property="pictureType" jdbcType="VARCHAR" />
    <result column="effective_time" property="effectiveTime" jdbcType="TIMESTAMP" />
    <result column="invalid_time" property="invalidTime" jdbcType="TIMESTAMP" />
    <result column="upload_picture_front" property="uploadPictureFront" jdbcType="VARCHAR" />
    <result column="upload_picture_back" property="uploadPictureBack" jdbcType="VARCHAR" />
    <result column="is_vip" property="isVip" jdbcType="TINYINT" />
    <result column="delete_flag" property="deleteFlag" jdbcType="TINYINT" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_id" property="modifyId" jdbcType="BIGINT" />
    <result column="modify_name" property="modifyName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, picture_id, picture_name, picture_type, effective_time, invalid_time, upload_picture_front, 
    upload_picture_back, is_vip, delete_flag, create_id, create_name, create_time, modify_id, 
    modify_name, modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from activity_picture_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByPictureId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from activity_picture_info
    where picture_id = #{pictureId}
  </select>
  
  <select id="selectMaterielDownloadListCount" resultMap="BaseResultMap" parameterType="cn.htd.promotion.cpc.dto.request.ActivityPictureInfoReqDTO" >
    select count(*)
    from activity_picture_info
    where delete_flag = 0
  	<if test="dto.pictureName != null" >
        and picture_name like concat('%', #{dto.pictureName,jdbcType=VARCHAR} ,'%')
      </if>
      <if test="dto.pictureType != null" >
        and picture_type = #{dto.pictureType,jdbcType=VARCHAR}
      </if>
      <if test="dto.isVip != null and dto.isVip !=''" >
        and is_vip = #{dto.isVip,jdbcType=TINYINT}
      </if>
  </select>
  
  <select id="selectMaterielDownloadList" resultMap="BaseResultMap" parameterType="cn.htd.promotion.cpc.dto.request.ActivityPictureInfoReqDTO" >
    select 
    <include refid="Base_Column_List" />
    from activity_picture_info
    where delete_flag = 0
  	<if test="dto.pictureName != null" >
        and picture_name like concat('%', #{dto.pictureName,jdbcType=VARCHAR} ,'%')
      </if>
      <if test="dto.pictureType != null" >
        and picture_type = #{dto.pictureType,jdbcType=VARCHAR}
      </if>
      <if test="dto.isVip != null and dto.isVip !=''" >
        and is_vip = #{dto.isVip,jdbcType=TINYINT}
      </if>
      order by id desc
      <if test="pager!=null">
	   limit #{pager.pageOffset} , #{pager.rows}
	</if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from activity_picture_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <update id="deleteByPictureId" parameterType="java.lang.String" >
    update activity_picture_info
    set delete_flag = 1
    where picture_id = #{pictureId,jdbcType=VARCHAR}
  </update>
  
  <insert id="insert" parameterType="cn.htd.promotion.cpc.dto.request.ActivityPictureInfoReqDTO" >
    insert into activity_picture_info (id, picture_id, picture_name, 
      picture_type, effective_time, invalid_time, 
      upload_picture_front, upload_picture_back, 
      is_vip, delete_flag, create_id, 
      create_name, create_time, modify_id, 
      modify_name, modify_time)
    values (#{id,jdbcType=BIGINT}, #{pictureId,jdbcType=VARCHAR}, #{pictureName,jdbcType=VARCHAR}, 
      #{pictureType,jdbcType=VARCHAR}, #{effectiveTime,jdbcType=TIMESTAMP}, #{invalidTime,jdbcType=TIMESTAMP}, 
      #{uploadPictureFront,jdbcType=VARCHAR}, #{uploadPictureBack,jdbcType=VARCHAR}, 
      #{isVip,jdbcType=TINYINT}, #{deleteFlag,jdbcType=TINYINT}, #{createId,jdbcType=BIGINT}, 
      #{createName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyId,jdbcType=BIGINT}, 
      #{modifyName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="add" parameterType="cn.htd.promotion.cpc.dto.request.ActivityPictureInfoReqDTO" >
    insert into activity_picture_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pictureId != null" >
        picture_id,
      </if>
      <if test="pictureName != null" >
        picture_name,
      </if>
      <if test="pictureType != null" >
        picture_type,
      </if>
      <if test="effectiveTime != null" >
        effective_time,
      </if>
      <if test="invalidTime != null" >
        invalid_time,
      </if>
      <if test="uploadPictureFront != null" >
        upload_picture_front,
      </if>
      <if test="uploadPictureBack != null" >
        upload_picture_back,
      </if>
      <if test="isVip != null" >
        is_vip,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createName != null" >
        create_name,
      </if>
        create_time,
      <if test="modifyId != null" >
        modify_id,
      </if>
      <if test="modifyName != null" >
        modify_name,
      </if>
        modify_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pictureId != null" >
        #{pictureId,jdbcType=VARCHAR},
      </if>
      <if test="pictureName != null" >
        #{pictureName,jdbcType=VARCHAR},
      </if>
      <if test="pictureType != null" >
        #{pictureType,jdbcType=VARCHAR},
      </if>
      <if test="effectiveTime != null" >
        #{effectiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invalidTime != null" >
        #{invalidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadPictureFront != null" >
        #{uploadPictureFront,jdbcType=VARCHAR},
      </if>
      <if test="uploadPictureBack != null" >
        #{uploadPictureBack,jdbcType=VARCHAR},
      </if>
      <if test="isVip != null" >
        #{isVip,jdbcType=TINYINT},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="createName != null" >
        #{createName,jdbcType=VARCHAR},
      </if>
      now(),
      <if test="modifyId != null" >
        #{modifyId,jdbcType=BIGINT},
      </if>
      <if test="modifyName != null" >
        #{modifyName,jdbcType=VARCHAR},
      </if>
      now()
    </trim>
  </insert>
  <update id="update" parameterType="cn.htd.promotion.cpc.dto.request.ActivityPictureInfoReqDTO" >
    update activity_picture_info
    <set >
      <if test="pictureId != null" >
        picture_id = #{pictureId,jdbcType=VARCHAR},
      </if>
      <if test="pictureName != null" >
        picture_name = #{pictureName,jdbcType=VARCHAR},
      </if>
      <if test="pictureType != null" >
        picture_type = #{pictureType,jdbcType=VARCHAR},
      </if>
      <if test="effectiveTime != null" >
        effective_time = #{effectiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invalidTime != null" >
        invalid_time = #{invalidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadPictureFront != null" >
        upload_picture_front = #{uploadPictureFront,jdbcType=VARCHAR},
      </if>
      <if test="uploadPictureBack != null" >
        upload_picture_back = #{uploadPictureBack,jdbcType=VARCHAR},
      </if>
      <if test="isVip != null" >
        is_vip = #{isVip,jdbcType=TINYINT},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=TINYINT},
      </if>
      
      <if test="modifyId != null" >
        modify_id = #{modifyId,jdbcType=BIGINT},
      </if>
      <if test="modifyName != null" >
        modify_name = #{modifyName,jdbcType=VARCHAR},
      </if>
        modify_time = now()
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.htd.promotion.cpc.dto.request.ActivityPictureInfoReqDTO" >
    update activity_picture_info
    set picture_id = #{pictureId,jdbcType=VARCHAR},
      picture_name = #{pictureName,jdbcType=VARCHAR},
      picture_type = #{pictureType,jdbcType=VARCHAR},
      effective_time = #{effectiveTime,jdbcType=TIMESTAMP},
      invalid_time = #{invalidTime,jdbcType=TIMESTAMP},
      upload_picture_front = #{uploadPictureFront,jdbcType=VARCHAR},
      upload_picture_back = #{uploadPictureBack,jdbcType=VARCHAR},
      is_vip = #{isVip,jdbcType=TINYINT},
      delete_flag = #{deleteFlag,jdbcType=TINYINT},
      create_id = #{createId,jdbcType=BIGINT},
      create_name = #{createName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_id = #{modifyId,jdbcType=BIGINT},
      modify_name = #{modifyName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectMaterielDownloadByMemberCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
     a.id, a.picture_id, a.picture_name, a.picture_type, a.effective_time, a.invalid_time, a.upload_picture_front, 
    a.upload_picture_back, a.is_vip, a.delete_flag
    from activity_picture_info a
	left join
	activity_picture_member_detail b
	on a.picture_id=b.picture_id and b.delete_flag=0
	where a.picture_type=#{pictureType,jdbcType=VARCHAR}
	and a.delete_flag=0
	and (now() BETWEEN a.effective_time and a.invalid_time)
	and (a.is_vip=1 or
	b.member_code=#{memberCode,jdbcType=VARCHAR}
	)
	<if test="pager!=null">
	   limit #{pager.pageOffset} , #{pager.rows}
	</if>
  </select>
  
</mapper>