<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.promotion.cpc.biz.dao.AwardRecordDAO" >
  <resultMap id="BaseResultMap" type="cn.htd.promotion.cpc.dto.response.PromotionAwardDTO" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="PROMOTION_ID" property="promotionId" jdbcType="VARCHAR" />
    <result column="LEVEL_CODE" property="levelCode" jdbcType="VARCHAR" />
    <result column="PROMOTION_TYPE" property="promotionType" jdbcType="VARCHAR" />
    <result column="PROMOTION_NAME" property="promotionName" jdbcType="VARCHAR" />
    <result column="BUYER_CODE" property="buyerCode" jdbcType="VARCHAR" />
    <result column="BUYER_NAME" property="buyerName" jdbcType="VARCHAR" />
    <result column="BUYER_TELEPHONE" property="buyerTelephone" jdbcType="VARCHAR" />
	<result column="SELLER_CODE" property="sellerCode" jdbcType="VARCHAR" />
    <result column="SELLER_ADDRESS" property="sellerAddress" jdbcType="VARCHAR" />
    <result column="BELONG_SUPERIOR_NAME" property="belongSuperiorName" jdbcType="VARCHAR" />
	<result column="REWARD_TYPE" property="rewardType" jdbcType="VARCHAR" />
    <result column="RELEVANCE_BARGAIN_CODE" property="relevanceBargainCode" jdbcType="VARCHAR" />
    <result column="REWARD_NAME" property="rewardName" jdbcType="VARCHAR" />
    <result column="AWARD_VALUE" property="awardValue" jdbcType="VARCHAR" />
    <result column="WINNING_TIME" property="winningTime" jdbcType="TIMESTAMP" />
    <result column="WINNER_NAME" property="winnerName" jdbcType="VARCHAR" />
    <result column="WINNING_CONTACT" property="winningContact" jdbcType="VARCHAR" />
    <result column="CHARGE_TELEPHONE" property="chargeTelephone" jdbcType="VARCHAR" />
    <result column="LOGISTICS_STATUS" property="logisticsStatus" jdbcType="VARCHAR" />
    <result column="LOGISTICS_COMPANY" property="logisticsCompany" jdbcType="VARCHAR" />
    <result column="LOGISTICS_NO" property="logisticsNo" jdbcType="VARCHAR" />
    <result column="CREATE_ID" property="createId" jdbcType="BIGINT" />
    <result column="CREATE_NAME" property="createName" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="MODIFY_ID" property="modifyId" jdbcType="BIGINT" />
    <result column="MODIFY_NAME" property="modifyName" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="getAwardRecordByPromotionId" resultMap="BaseResultMap">
    select * from buyer_winning_record bwr
    where 1 = 1
    <include refid="awardRecord_mid" />
    <if test="page!=null">
      <include refid="pagination_tail" />
    </if>
  </select>

  <select id="getTotalAwardRecord" resultType="java.lang.Long">
    select count(1) from buyer_winning_record bwr
    where 1 = 1
    <include refid="awardRecord_mid" />
  </select>

  <!-- 查询条件-->
  <sql id="awardRecord_mid">
    <if test="params.promotionId!=null and params.promotionId!=''">
      and bwr.PROMOTION_ID = #{params.promotionId}
    </if>
    <if test="params.buyerCode!=null and params.buyerCode!=''">
      and bwr.BUYER_CODE = #{params.buyerCode}
    </if>
    <if test="params.buyerName!=null and params.buyerName!=''">
      and bwr.BUYER_NAME like concat('%', #{params.buyerName} ,'%')
    </if>
    <if test="params.rewardType!=null and params.rewardType!=''">
      and bwr.REWARD_TYPE = #{params.rewardType}
    </if>
    <if test="params.winningStartTime!=null and params.winningStartTime!=''">
      and date_format(bwr.WINNING_TIME , '%Y-%m-%d') &gt;= date_format(#{params.winningStartTime} , '%Y-%m-%d')
    </if>
    <if test="params.winningEndTime!=null and params.winningEndTime!=''">
      and date_format(bwr.WINNING_TIME , '%Y-%m-%d') &lt;= date_format(#{params.winningEndTime} , '%Y-%m-%d')
    </if>
  </sql>

  <!-- mysql 分页 -->
  <sql id="pagination_tail">
    limit #{page.pageOffset} , #{page.rows}
  </sql>

</mapper>