<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.promotion.cpc.biz.dao.BuyerLaunchBargainInfoDAO" >
  <resultMap id="BaseResultMap" type="cn.htd.promotion.cpc.biz.dmo.BuyerLaunchBargainInfoDMO" >
   <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="BARGAIN_CODE" property="bargainCode" jdbcType="VARCHAR" />
    <result column="PROMOTION_ID" property="promotionId" jdbcType="VARCHAR" />
    <result column="LEVEL_CODE" property="levelCode" jdbcType="VARCHAR" />
    <result column="BUYER_CODE" property="buyerCode" jdbcType="VARCHAR" />
    <result column="BUYER_NAME" property="buyerName" jdbcType="VARCHAR" />
    <result column="BUYER_TELEPHONE" property="buyerTelephone" jdbcType="VARCHAR" />
    <result column="GOODS_PICTURE" property="goodsPicture" jdbcType="VARCHAR" />
    <result column="GOODS_NAME" property="goodsName" jdbcType="VARCHAR" />
    <result column="GOODS_COST_PRICE" property="goodsCostPrice" jdbcType="DECIMAL" />
    <result column="GOODS_FLOOR_PRICE" property="goodsFloorPrice" jdbcType="DECIMAL" />
    <result column="LAUNCH_TIME" property="launchTime" jdbcType="TIMESTAMP" />
    <result column="BARGAIN_OVER_TIME" property="bargainOverTime" jdbcType="TIMESTAMP" />
    <result column="IS_BARGAIN_OVER" property="isBargainOver" jdbcType="TINYINT" />
    <result column="GOODS_CURRENT_PRICE" property="goodsCurrentPrice" jdbcType="DECIMAL" />
    <result column="CREATE_ID" property="createId" jdbcType="BIGINT" />
	<result column="CREATE_NAME" property="createName" jdbcType="VARCHAR" />
	<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
	<result column="MODIFY_ID" property="modifyId" jdbcType="BIGINT" />
	<result column="MODIFY_NAME" property="modifyName" jdbcType="VARCHAR" />
	<result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
    <select id="getBuyerLaunchBargainInfoByBuyerCode" resultMap="BaseResultMap"  parameterType="java.lang.String">
    	select * from buyer_launch_bargain_info
    	where buyer_code = #{buyerCode}
	</select>
	
	<select id="getBuyerLaunchBargainInfoByPromotionId" resultMap="BaseResultMap">
		SELECT * FROM buyer_launch_bargain_info
		WHERE promotion_id = #{promotionId}
	</select>
	
	<select id="queryBuyerLaunchBargainInfoNumber" resultType="java.lang.Integer">
		SELECT COUNT(0)
		FROM buyer_launch_bargain_info
		WHERE promotion_id = #{promotionId}
		AND level_code = #{levelCode}
		<if test="isBargainOver != null and isBargainOver != ''">
			AND is_bargain_over = 1
		</if>
	</select>
	
	<insert id="addBuyerLaunchBargainInfo">
		insert into buyer_launch_bargain_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			bargain_code,
			promotion_id,
			level_code,
			buyer_code,
			buyer_name,
			buyer_telephone,
			goods_picture,
			goods_name,
			goods_cost_price,
			goods_floor_price,
			launch_time,
			goods_current_price,
			create_id,
			create_name,
			create_time,
			modify_id,
			modify_name,
			modify_time,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{bargainCode,jdbcType=INTEGER},
			#{promotionId,jdbcType=VARCHAR},
			#{levelCode,jdbcType=VARCHAR},
			#{buyerCode,jdbcType=VARCHAR},
			#{buyerName,jdbcType=VARCHAR},
			#{buyerTelephone,jdbcType=VARCHAR},
			#{goods_picture,jdbcType=VARCHAR},
			#{goods_name,jdbcType=VARCHAR},
			#{goods_cost_price,jdbcType=DECIMAL},
			#{goods_floor_price,jdbcType=DECIMAL},
			now(),
			#{goods_current_price,jdbcType=DECIMAL},
			#{createId,jdbcType=BIGINT},
			#{createName,jdbcType=VARCHAR},
			now(),
			#{createId,jdbcType=BIGINT},
			#{createName,jdbcType=VARCHAR},
			now(),
		</trim>
	</insert>
	
</mapper>