<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.promotion.cpc.biz.dao.GroupbuyingRecordDAO" >
  <resultMap id="BaseResultMap" type="cn.htd.promotion.cpc.dto.response.GroupbuyingRecordResDTO" >
    <id column="record_id" property="recordId" jdbcType="BIGINT" />
    <result column="promotion_id" property="promotionId" jdbcType="VARCHAR" />
    <result column="seller_code" property="sellerCode" jdbcType="VARCHAR" />
    <result column="buyer_code" property="buyerCode" jdbcType="VARCHAR" />
    <result column="buyer_name" property="buyerName" jdbcType="VARCHAR" />
    <result column="buyer_contact" property="buyerContact" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="TINYINT" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_id" property="modifyId" jdbcType="BIGINT" />
    <result column="modify_name" property="modifyName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    record_id, promotion_id, seller_code, buyer_code, buyer_name, buyer_contact, 
    delete_flag, create_id, create_name, create_time, modify_id, modify_name, modify_time
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from groupbuying_record
    where record_id = #{recordId,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from groupbuying_record
    where record_id = #{recordId,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="cn.htd.promotion.cpc.dto.request.GroupbuyingRecordReqDTO" >
    insert into groupbuying_record (record_id, promotion_id, 
      seller_code, buyer_code, buyer_name, 
      buyer_contact, delete_flag, create_id, 
      create_name, create_time, modify_id, 
      modify_name, modify_time)
    values (#{recordId,jdbcType=BIGINT}, #{promotionId,jdbcType=VARCHAR}, 
      #{sellerCode,jdbcType=VARCHAR}, #{buyerCode,jdbcType=VARCHAR}, #{buyerName,jdbcType=VARCHAR}, 
      #{buyerContact,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=TINYINT}, #{createId,jdbcType=BIGINT}, 
      #{createName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyId,jdbcType=BIGINT}, 
      #{modifyName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  
  <insert id="addGroupbuyingRecord" parameterType="cn.htd.promotion.cpc.dto.request.GroupbuyingRecordReqDTO" >
    insert into groupbuying_record (promotion_id, 
      seller_code, buyer_code, buyer_name, 
      buyer_contact, delete_flag, create_id, 
      create_name, create_time, modify_id, 
      modify_name, modify_time)
    values (#{promotionId,jdbcType=VARCHAR}, 
      #{sellerCode,jdbcType=VARCHAR}, #{buyerCode,jdbcType=VARCHAR}, #{buyerName,jdbcType=VARCHAR}, 
      #{buyerContact,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=TINYINT}, #{createId,jdbcType=BIGINT}, 
      #{createName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyId,jdbcType=BIGINT}, 
      #{modifyName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  
  <insert id="insertSelective" parameterType="cn.htd.promotion.cpc.dto.request.GroupbuyingRecordReqDTO" >
    insert into groupbuying_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordId != null" >
        record_id,
      </if>
      <if test="promotionId != null" >
        promotion_id,
      </if>
      <if test="sellerCode != null" >
        seller_code,
      </if>
      <if test="buyerCode != null" >
        buyer_code,
      </if>
      <if test="buyerName != null" >
        buyer_name,
      </if>
      <if test="buyerContact != null" >
        buyer_contact,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createName != null" >
        create_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyId != null" >
        modify_id,
      </if>
      <if test="modifyName != null" >
        modify_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordId != null" >
        #{recordId,jdbcType=BIGINT},
      </if>
      <if test="promotionId != null" >
        #{promotionId,jdbcType=VARCHAR},
      </if>
      <if test="sellerCode != null" >
        #{sellerCode,jdbcType=VARCHAR},
      </if>
      <if test="buyerCode != null" >
        #{buyerCode,jdbcType=VARCHAR},
      </if>
      <if test="buyerName != null" >
        #{buyerName,jdbcType=VARCHAR},
      </if>
      <if test="buyerContact != null" >
        #{buyerContact,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="createName != null" >
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyId != null" >
        #{modifyId,jdbcType=BIGINT},
      </if>
      <if test="modifyName != null" >
        #{modifyName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="cn.htd.promotion.cpc.dto.request.GroupbuyingRecordReqDTO" >
    update groupbuying_record
    <set >
      <if test="promotionId != null" >
        promotion_id = #{promotionId,jdbcType=VARCHAR},
      </if>
      <if test="sellerCode != null" >
        seller_code = #{sellerCode,jdbcType=VARCHAR},
      </if>
      <if test="buyerCode != null" >
        buyer_code = #{buyerCode,jdbcType=VARCHAR},
      </if>
      <if test="buyerName != null" >
        buyer_name = #{buyerName,jdbcType=VARCHAR},
      </if>
      <if test="buyerContact != null" >
        buyer_contact = #{buyerContact,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="createName != null" >
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyId != null" >
        modify_id = #{modifyId,jdbcType=BIGINT},
      </if>
      <if test="modifyName != null" >
        modify_name = #{modifyName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where record_id = #{recordId,jdbcType=BIGINT}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="cn.htd.promotion.cpc.dto.request.GroupbuyingRecordReqDTO" >
    update groupbuying_record
    set 
      promotion_id = #{promotionId,jdbcType=VARCHAR},
      seller_code = #{sellerCode,jdbcType=VARCHAR},
      buyer_code = #{buyerCode,jdbcType=VARCHAR},
      buyer_name = #{buyerName,jdbcType=VARCHAR},
      buyer_contact = #{buyerContact,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=TINYINT},
      create_id = #{createId,jdbcType=BIGINT},
      create_name = #{createName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_id = #{modifyId,jdbcType=BIGINT},
      modify_name = #{modifyName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where record_id = #{recordId,jdbcType=BIGINT}
  </update>
  
  
  	<sql id="dynamic_fragment_groupbuyingRecord">
      <if test="dto.promotionId != null and dto.promotionId != ''" >
       and  promotion_id = #{dto.promotionId,jdbcType=VARCHAR},
      </if>
      <if test="dto.sellerCode != null and dto.sellerCode != ''" >
       and seller_code = #{dto.sellerCode,jdbcType=VARCHAR},
      </if>
      <if test="dto.buyerCode != null and dto.buyerCode != ''" >
       and buyer_code = #{dto.buyerCode,jdbcType=VARCHAR},
      </if>
      <if test="dto.buyerName != null and dto.buyerName != ''" >
       and buyer_name = #{dto.buyerName,jdbcType=VARCHAR},
      </if>
      <if test="dto.buyerContact != null and dto.buyerContact != ''" >
       and buyer_contact = #{dto.buyerContact,jdbcType=VARCHAR},
      </if>
	</sql>
  
  <select id="getGroupbuyingRecordByParams" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from groupbuying_record
    where delete_flag = 0   
    <include refid="dynamic_fragment_groupbuyingRecord"/>
  </select>

  
  	<select id="getGroupbuyingRecordCount" resultType="java.lang.Integer">
	  select count(1)   from groupbuying_record  
      where delete_flag = 0   
      <include refid="dynamic_fragment_groupbuyingRecord"/>
	</select>

	<select id="getGroupbuyingRecordForPage" resultMap="BaseResultMap">
      select  <include refid="Base_Column_List" />
       from groupbuying_record  
       where delete_flag = 0   
       <include refid="dynamic_fragment_groupbuyingRecord"/> 
		ORDER BY modify_time desc 
		LIMIT #{page.pageOffset},#{page.rows}
	</select>
  
</mapper>