<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.promotion.cpc.biz.dao.GroupbuyingInfoDAO" >

  <resultMap id="BaseResultMap" type="cn.htd.promotion.cpc.dto.response.GroupbuyingInfoResDTO" >
    <id column="groupbuying_id" property="groupbuyingId" jdbcType="BIGINT" />
    <result column="promotion_id" property="promotionId" jdbcType="VARCHAR" />
    <result column="seller_code" property="sellerCode" jdbcType="VARCHAR" />
    <result column="item_id" property="itemId" jdbcType="BIGINT" />
    <result column="sku_code" property="skuCode" jdbcType="VARCHAR" />
    <result column="sku_name" property="skuName" jdbcType="VARCHAR" />
    <result column="sku_label" property="skuLabel" jdbcType="VARCHAR" />
    <result column="sku_pic_url" property="skuPicUrl" jdbcType="VARCHAR" />
    <result column="sku_cost_price" property="skuCostPrice" jdbcType="DECIMAL" />
    <result column="real_actor_count" property="realActorCount" jdbcType="INTEGER" />
    <result column="real_groupbuying_price" property="realGroupbuyingPrice" jdbcType="DECIMAL" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="sales_area_code" property="salesAreaCode" jdbcType="VARCHAR" />
    <result column="sales_area_name" property="salesAreaName" jdbcType="VARCHAR" />
    <result column="groupbuying_sku_count" property="groupbuyingSkuCount" jdbcType="INTEGER" />
    <result column="groupbuying_threshold" property="groupbuyingThreshold" jdbcType="INTEGER" />
    <result column="groupbuying_valid_interval" property="groupbuyingValidInterval" jdbcType="INTEGER" />
    <result column="delete_flag" property="deleteFlag" jdbcType="TINYINT" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_id" property="modifyId" jdbcType="BIGINT" />
    <result column="modify_name" property="modifyName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    groupbuying_id, promotion_id, seller_code, item_id, sku_code, sku_name, sku_label, 
    sku_pic_url, sku_cost_price, real_actor_count, real_groupbuying_price, start_time, 
    end_time, sales_area_code, sales_area_name, groupbuying_sku_count, groupbuying_threshold, 
    groupbuying_valid_interval, delete_flag, create_id, create_name, create_time, modify_id, 
    modify_name, modify_time
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from groupbuying_info
    where groupbuying_id = #{groupbuyingId,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from groupbuying_info
    where groupbuying_id = #{groupbuyingId,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="cn.htd.promotion.cpc.dto.request.GroupbuyingInfoReqDTO" >
    insert into groupbuying_info (groupbuying_id, promotion_id, seller_code, 
      item_id, sku_code, sku_name, 
      sku_label, sku_pic_url, sku_cost_price, 
      real_actor_count, real_groupbuying_price, start_time, 
      end_time, sales_area_code, sales_area_name, 
      groupbuying_sku_count, groupbuying_threshold, 
      groupbuying_valid_interval, delete_flag, create_id, 
      create_name, create_time, modify_id, 
      modify_name, modify_time)
    values (#{groupbuyingId,jdbcType=BIGINT}, #{promotionId,jdbcType=VARCHAR}, #{sellerCode,jdbcType=VARCHAR}, 
      #{itemId,jdbcType=BIGINT}, #{skuCode,jdbcType=VARCHAR}, #{skuName,jdbcType=VARCHAR}, 
      #{skuLabel,jdbcType=VARCHAR}, #{skuPicUrl,jdbcType=VARCHAR}, #{skuCostPrice,jdbcType=DECIMAL}, 
      #{realActorCount,jdbcType=INTEGER}, #{realGroupbuyingPrice,jdbcType=DECIMAL}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{salesAreaCode,jdbcType=VARCHAR}, #{salesAreaName,jdbcType=VARCHAR}, 
      #{groupbuyingSkuCount,jdbcType=INTEGER}, #{groupbuyingThreshold,jdbcType=INTEGER}, 
      #{groupbuyingValidInterval,jdbcType=INTEGER}, #{deleteFlag,jdbcType=TINYINT}, #{createId,jdbcType=BIGINT}, 
      #{createName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyId,jdbcType=BIGINT}, 
      #{modifyName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  
  <insert id="insertSelective" parameterType="cn.htd.promotion.cpc.dto.request.GroupbuyingInfoReqDTO" >
    insert into groupbuying_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupbuyingId != null" >
        groupbuying_id,
      </if>
      <if test="promotionId != null" >
        promotion_id,
      </if>
      <if test="sellerCode != null" >
        seller_code,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="skuCode != null" >
        sku_code,
      </if>
      <if test="skuName != null" >
        sku_name,
      </if>
      <if test="skuLabel != null" >
        sku_label,
      </if>
      <if test="skuPicUrl != null" >
        sku_pic_url,
      </if>
      <if test="skuCostPrice != null" >
        sku_cost_price,
      </if>
      <if test="realActorCount != null" >
        real_actor_count,
      </if>
      <if test="realGroupbuyingPrice != null" >
        real_groupbuying_price,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="salesAreaCode != null" >
        sales_area_code,
      </if>
      <if test="salesAreaName != null" >
        sales_area_name,
      </if>
      <if test="groupbuyingSkuCount != null" >
        groupbuying_sku_count,
      </if>
      <if test="groupbuyingThreshold != null" >
        groupbuying_threshold,
      </if>
      <if test="groupbuyingValidInterval != null" >
        groupbuying_valid_interval,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createName != null" >
        create_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyId != null" >
        modify_id,
      </if>
      <if test="modifyName != null" >
        modify_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupbuyingId != null" >
        #{groupbuyingId,jdbcType=BIGINT},
      </if>
      <if test="promotionId != null" >
        #{promotionId,jdbcType=VARCHAR},
      </if>
      <if test="sellerCode != null" >
        #{sellerCode,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=BIGINT},
      </if>
      <if test="skuCode != null" >
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null" >
        #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="skuLabel != null" >
        #{skuLabel,jdbcType=VARCHAR},
      </if>
      <if test="skuPicUrl != null" >
        #{skuPicUrl,jdbcType=VARCHAR},
      </if>
      <if test="skuCostPrice != null" >
        #{skuCostPrice,jdbcType=DECIMAL},
      </if>
      <if test="realActorCount != null" >
        #{realActorCount,jdbcType=INTEGER},
      </if>
      <if test="realGroupbuyingPrice != null" >
        #{realGroupbuyingPrice,jdbcType=DECIMAL},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="salesAreaCode != null" >
        #{salesAreaCode,jdbcType=VARCHAR},
      </if>
      <if test="salesAreaName != null" >
        #{salesAreaName,jdbcType=VARCHAR},
      </if>
      <if test="groupbuyingSkuCount != null" >
        #{groupbuyingSkuCount,jdbcType=INTEGER},
      </if>
      <if test="groupbuyingThreshold != null" >
        #{groupbuyingThreshold,jdbcType=INTEGER},
      </if>
      <if test="groupbuyingValidInterval != null" >
        #{groupbuyingValidInterval,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="createName != null" >
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyId != null" >
        #{modifyId,jdbcType=BIGINT},
      </if>
      <if test="modifyName != null" >
        #{modifyName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="cn.htd.promotion.cpc.dto.request.GroupbuyingInfoReqDTO" >
    update groupbuying_info
    <set >
      <if test="promotionId != null" >
        promotion_id = #{promotionId,jdbcType=VARCHAR},
      </if>
      <if test="sellerCode != null" >
        seller_code = #{sellerCode,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        item_id = #{itemId,jdbcType=BIGINT},
      </if>
      <if test="skuCode != null" >
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null" >
        sku_name = #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="skuLabel != null" >
        sku_label = #{skuLabel,jdbcType=VARCHAR},
      </if>
      <if test="skuPicUrl != null" >
        sku_pic_url = #{skuPicUrl,jdbcType=VARCHAR},
      </if>
      <if test="skuCostPrice != null" >
        sku_cost_price = #{skuCostPrice,jdbcType=DECIMAL},
      </if>
      <if test="realActorCount != null" >
        real_actor_count = #{realActorCount,jdbcType=INTEGER},
      </if>
      <if test="realGroupbuyingPrice != null" >
        real_groupbuying_price = #{realGroupbuyingPrice,jdbcType=DECIMAL},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="salesAreaCode != null" >
        sales_area_code = #{salesAreaCode,jdbcType=VARCHAR},
      </if>
      <if test="salesAreaName != null" >
        sales_area_name = #{salesAreaName,jdbcType=VARCHAR},
      </if>
      <if test="groupbuyingSkuCount != null" >
        groupbuying_sku_count = #{groupbuyingSkuCount,jdbcType=INTEGER},
      </if>
      <if test="groupbuyingThreshold != null" >
        groupbuying_threshold = #{groupbuyingThreshold,jdbcType=INTEGER},
      </if>
      <if test="groupbuyingValidInterval != null" >
        groupbuying_valid_interval = #{groupbuyingValidInterval,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="createName != null" >
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyId != null" >
        modify_id = #{modifyId,jdbcType=BIGINT},
      </if>
      <if test="modifyName != null" >
        modify_name = #{modifyName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where groupbuying_id = #{groupbuyingId,jdbcType=BIGINT}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="cn.htd.promotion.cpc.dto.request.GroupbuyingInfoReqDTO" >
    update groupbuying_info
    set promotion_id = #{promotionId,jdbcType=VARCHAR},
      seller_code = #{sellerCode,jdbcType=VARCHAR},
      item_id = #{itemId,jdbcType=BIGINT},
      sku_code = #{skuCode,jdbcType=VARCHAR},
      sku_name = #{skuName,jdbcType=VARCHAR},
      sku_label = #{skuLabel,jdbcType=VARCHAR},
      sku_pic_url = #{skuPicUrl,jdbcType=VARCHAR},
      sku_cost_price = #{skuCostPrice,jdbcType=DECIMAL},
      real_actor_count = #{realActorCount,jdbcType=INTEGER},
      real_groupbuying_price = #{realGroupbuyingPrice,jdbcType=DECIMAL},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      sales_area_code = #{salesAreaCode,jdbcType=VARCHAR},
      sales_area_name = #{salesAreaName,jdbcType=VARCHAR},
      groupbuying_sku_count = #{groupbuyingSkuCount,jdbcType=INTEGER},
      groupbuying_threshold = #{groupbuyingThreshold,jdbcType=INTEGER},
      groupbuying_valid_interval = #{groupbuyingValidInterval,jdbcType=INTEGER},
      delete_flag = #{deleteFlag,jdbcType=TINYINT},
      create_id = #{createId,jdbcType=BIGINT},
      create_name = #{createName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_id = #{modifyId,jdbcType=BIGINT},
      modify_name = #{modifyName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where groupbuying_id = #{groupbuyingId,jdbcType=BIGINT}
  </update>
  
</mapper>