<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.promotion.cpc.biz.dao.PromotionTimelimitedInfoDAO" >
  <resultMap id="BaseResultMap" type="cn.htd.promotion.cpc.dto.response.PromotionSellerDetailDTO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="promotion_id" property="promotionId" jdbcType="VARCHAR" />
    <result column="rule_id" property="ruleId" jdbcType="BIGINT" />
    <result column="seller_code" property="sellerCode" jdbcType="VARCHAR" />
    <result column="seller_name" property="sellerName" jdbcType="VARCHAR" />
    <result column="belong_superior_name" property="belongSuperiorName" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="TINYINT" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_id" property="modifyId" jdbcType="BIGINT" />
    <result column="modify_name" property="modifyName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
    <resultMap id="ResultMap" type="cn.htd.promotion.cpc.dto.response.TimelimitedInfoResDTO" >
    <result column="promotion_id" property="promotionId" jdbcType="VARCHAR" />
    <result column="level_code" property="levelCode" jdbcType="VARCHAR" />
    <result column="seller_code" property="sellerCode" jdbcType="VARCHAR" />
    <result column="item_id" property="itemId" jdbcType="BIGINT" />
    <result column="sku_code" property="skuCode" jdbcType="VARCHAR" />
    <result column="sku_name" property="skuName" jdbcType="VARCHAR" />
    <result column="first_category_code" property="firstCategoryCode" jdbcType="VARCHAR" />
    <result column="second_category_code" property="secondCategoryCode" jdbcType="VARCHAR" />
    <result column="third_category_code" property="thirdCategoryCode" jdbcType="VARCHAR" />
    <result column="sku_category_name" property="skuCategoryName" jdbcType="VARCHAR" />
    <result column="sku_pic_url" property="skuPicUrl" jdbcType="VARCHAR" />
    <result column="sku_cost_price" property="skuCostPrice" jdbcType="DECIMAL" />
    <result column="sku_timelimited_price" property="skuTimelimitedPrice" jdbcType="DECIMAL" />
    <result column="timelimited_sku_count" property="timelimitedSkuCount" jdbcType="INTEGER" />
    <result column="timelimited_threshold" property="timelimitedThreshold" jdbcType="INTEGER" />
    <result column="timelimited_valid_interval" property="timelimitedValidInterval" jdbcType="INTEGER" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_id" property="modifyId" jdbcType="BIGINT" />
    <result column="modify_name" property="modifyName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
    <resultMap id="PromotionResultMap" type="cn.htd.promotion.cpc.dto.response.PromotionInfoDTO">
   <result column="id" jdbcType="BIGINT" property="promotionId"/>
    <result column="promotion_id" jdbcType="VARCHAR" property="promotionId"/>
    <result column="promotion_name" jdbcType="VARCHAR" property="promotionName"/>
    <result column="promotion_describe" jdbcType="VARCHAR" property="promotionDescribe"/>
    <result column="promotion_provider_type" jdbcType="VARCHAR" property="promotionProviderType"/>
    <result column="promotion_provider_seller_code" jdbcType="VARCHAR" property="promotionProviderSellerCode"/>
    <result column="promotion_provider_shop_id" jdbcType="BIGINT" property="promotionProviderShopId"/>
    <result column="cost_allocation_type" jdbcType="VARCHAR" property="costAllocationType"/>
    <result column="promotion_type" jdbcType="VARCHAR" property="promotionType"/>
    <result column="effective_time" jdbcType="TIMESTAMP" property="effectiveTime"/>
    <result column="invalid_time" jdbcType="TIMESTAMP" property="invalidTime"/>
    <result column="is_vip" jdbcType="TINYINT" property="isVip"/>
    <result column="status" jdbcType="VARCHAR" property="status"/>
    <result column="show_status" jdbcType="VARCHAR" property="showStatus"/>
    <result column="verifier_id" jdbcType="BIGINT" property="verifierId"/>
    <result column="verifier_name" jdbcType="VARCHAR" property="verifierName"/>
    <result column="verify_time" jdbcType="TIMESTAMP" property="verifyTime"/>
    <result column="verify_remark" jdbcType="VARCHAR" property="verifyRemark"/>
    <result column="modify_promotion_id" jdbcType="VARCHAR" property="modifyPromotionId"/>
    <result column="create_id" jdbcType="BIGINT" property="createId"/>
    <result column="create_name" jdbcType="VARCHAR" property="createName"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="modify_id" jdbcType="BIGINT" property="modifyId"/>
    <result column="modify_name" jdbcType="VARCHAR" property="modifyName"/>
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
    <result column="deal_flag" jdbcType="TINYINT" property="dealFlag" />
    <result column="has_redis_clean" jdbcType="TINYINT" property="hasRedisClean" />
    <result column="has_up_flag" jdbcType="TINYINT" property="hasUpFlag"/>
  </resultMap>
  
    <sql id="Promotion_Base_Column_List">
		id,
		promotion_id,
		promotion_name,
		promotion_describe,
		promotion_provider_type,
		promotion_provider_seller_code,
		promotion_provider_shop_id,
		cost_allocation_type,
		promotion_type,
		effective_time,
		invalid_time,
		is_vip,
		status,
		show_status,
		verifier_id,
		verifier_name,
		verify_time,
		verify_remark,
		modify_promotion_id,
		has_up_flag,
		create_id,
		create_name,
		create_time,
		modify_id,
		deal_flag,
		has_redis_clean,
		modify_name,
		modify_time
	</sql>
  
   <sql id="Base_Column_List" >
    id, promotion_id, rule_id, seller_code, seller_name, belong_superior_name, delete_flag, 
    create_id, create_name, create_time, modify_id, modify_name, modify_time
  </sql>
   
   <!-- 根据buyercode取秒杀信息，如果结果的buyercode 为空，说明秒杀活动对所有粉丝有效，否则只对归属于改会员的粉丝有效-->
   <select id="selectTimelimitedInfo" resultMap="ResultMap"> 
    select 
     p.promotion_id as promotionId,p.invalid_time as invalidTime
     from promotion_info as p , promotion_seller_detail as s
     where p.promotion_id= s.promotion_id and s.delete_flag !=1
       and p.status != '9'
     <if test="buyerCode != null and buyerCode !='' ">
        and s.seller_code=#{buyerCode}
     </if>
     and p.show_status=3 and p.promotion_type=23
     order by p.modify_time desc
  </select>

  <select id="selectPromotionSellerDetailInfo" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from promotion_seller_detail
    where promotion_id = #{promotionId,jdbcType=VARCHAR}
          and seller_code = #{buyerCode,jdbcType=VARCHAR}
  </select>
  
   <select id="queryPromotionList" resultMap="PromotionResultMap">
    select
      <include refid="Promotion_Base_Column_List"/>
    from promotion_info p
    where 1 = 1 and p.promotion_type=23
    <if test="entity != null">
      and status in
      <foreach collection="entity.statusList" index="index" item="statusCode" open="(" separator="," close=")">
        #{statusCode}
      </foreach>
      and show_status in
      <foreach collection="entity.verifyStatusList" index="index" item="verifyStatusCode" open="(" separator="," close=")">
        #{verifyStatusCode}
      </foreach>
      and mod(id, #{entity.taskQueueNum}) in
      <foreach collection="entity.taskIdList" index="index" item="taskId" open="(" separator="," close=")">
        #{taskId}
      </foreach>
    </if>
    <if test="page!=null">
      <include refid="pagination_tail"/>
    </if>
  </select>
  
    <update id="updatePromotionShowStatusById" parameterType="cn.htd.promotion.cpc.dto.response.PromotionInfoDTO">
    update promotion_info
    <set>
      show_status = #{showStatus},
      modify_id = #{modifyId,jdbcType=BIGINT},
      modify_name = #{modifyName,jdbcType=VARCHAR},
      modify_time = now(),
    </set>
    where promotion_id = #{promotionId, jdbcType=VARCHAR}
  </update>
  
    <!-- mysql 分页 -->
  <sql id="pagination_tail">
    limit #{page.pageOffset} , #{page.rows}
  </sql>
  
   <select id="selectTimelimitedInfoBySkuCode" resultMap="ResultMap">
      SELECT * FROM timelimited_info b inner join promotion_info a on a.promotion_id= b.promotion_id and a.status !='9'
      where  b.sku_code=#{skuCode, jdbcType=VARCHAR}
      limit 0,1
  </select>

</mapper>