<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.promotion.cpc.biz.dao.PromotionBuyerRuleDAO" >
  <resultMap id="BaseResultMap" type="cn.htd.promotion.cpc.dto.response.PromotionBuyerRuleDTO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="promotion_id" property="promotionId" jdbcType="VARCHAR" />
    <result column="rule_id" property="ruleId" jdbcType="BIGINT" />
    <result column="rule_name" property="ruleName" jdbcType="VARCHAR" />
    <result column="rule_target_type" property="ruleTargetType" jdbcType="VARCHAR" />
    <result column="target_buyer_level" property="targetBuyerLevel" jdbcType="VARCHAR" />
    <result column="target_buyer_group" property="targetBuyerGroup" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="TINYINT" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_id" property="modifyId" jdbcType="BIGINT" />
    <result column="modify_name" property="modifyName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, promotion_id, rule_id, rule_name, rule_target_type, target_buyer_level, target_buyer_group, 
    delete_flag, create_id, create_name, create_time, modify_id, modify_name, modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from promotion_buyer_rule
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectByPromotionInfoId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from promotion_buyer_rule
    where promotion_id = #{promotionId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from promotion_buyer_rule
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.htd.promotion.cpc.dto.response.PromotionBuyerRuleDTO" >
    insert into promotion_buyer_rule (id, promotion_id, rule_id, 
      rule_name, rule_target_type, target_buyer_level, 
      target_buyer_group, delete_flag, create_id, 
      create_name, create_time, modify_id, 
      modify_name, modify_time)
    values (#{id,jdbcType=BIGINT}, #{promotionId,jdbcType=VARCHAR}, #{ruleId,jdbcType=BIGINT}, 
      #{ruleName,jdbcType=VARCHAR}, #{ruleTargetType,jdbcType=VARCHAR}, #{targetBuyerLevel,jdbcType=VARCHAR}, 
      #{targetBuyerGroup,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=TINYINT}, #{createId,jdbcType=BIGINT}, 
      #{createName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyId,jdbcType=BIGINT}, 
      #{modifyName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="add" parameterType="cn.htd.promotion.cpc.dto.response.PromotionBuyerRuleDTO" >
    insert into promotion_buyer_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="promotionId != null" >
        promotion_id,
      </if>
      <if test="ruleId != null" >
        rule_id,
      </if>
      <if test="ruleName != null" >
        rule_name,
      </if>
      <if test="ruleTargetType != null" >
        rule_target_type,
      </if>
      <if test="targetBuyerLevel != null" >
        target_buyer_level,
      </if>
      <if test="targetBuyerGroup != null" >
        target_buyer_group,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createName != null" >
        create_name,
      </if>
        create_time,
      <if test="modifyId != null" >
        modify_id,
      </if>
      <if test="modifyName != null" >
        modify_name,
      </if>
        modify_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="promotionId != null" >
        #{promotionId,jdbcType=VARCHAR},
      </if>
      <if test="ruleId != null" >
        #{ruleId,jdbcType=BIGINT},
      </if>
      <if test="ruleName != null" >
        #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="ruleTargetType != null" >
        #{ruleTargetType,jdbcType=VARCHAR},
      </if>
      <if test="targetBuyerLevel != null" >
        #{targetBuyerLevel,jdbcType=VARCHAR},
      </if>
      <if test="targetBuyerGroup != null" >
        #{targetBuyerGroup,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="createName != null" >
        #{createName,jdbcType=VARCHAR},
      </if>
        now(),
      <if test="modifyId != null" >
        #{modifyId,jdbcType=BIGINT},
      </if>
      <if test="modifyName != null" >
        #{modifyName,jdbcType=VARCHAR},
      </if>
        now()
    </trim>
  </insert>
  <update id="update" parameterType="cn.htd.promotion.cpc.dto.response.PromotionBuyerRuleDTO" >
    update promotion_buyer_rule
    <set >
      <if test="promotionId != null" >
        promotion_id = #{promotionId,jdbcType=VARCHAR},
      </if>
      <if test="ruleId != null" >
        rule_id = #{ruleId,jdbcType=BIGINT},
      </if>
      <if test="ruleName != null" >
        rule_name = #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="ruleTargetType != null" >
        rule_target_type = #{ruleTargetType,jdbcType=VARCHAR},
      </if>
      <if test="targetBuyerLevel != null" >
        target_buyer_level = #{targetBuyerLevel,jdbcType=VARCHAR},
      </if>
      <if test="targetBuyerGroup != null" >
        target_buyer_group = #{targetBuyerGroup,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="modifyId != null" >
        modify_id = #{modifyId,jdbcType=BIGINT},
      </if>
      <if test="modifyName != null" >
        modify_name = #{modifyName,jdbcType=VARCHAR},
      </if>
        modify_time = now()
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.htd.promotion.cpc.dto.response.PromotionBuyerRuleDTO" >
    update promotion_buyer_rule
    set promotion_id = #{promotionId,jdbcType=VARCHAR},
      rule_id = #{ruleId,jdbcType=BIGINT},
      rule_name = #{ruleName,jdbcType=VARCHAR},
      rule_target_type = #{ruleTargetType,jdbcType=VARCHAR},
      target_buyer_level = #{targetBuyerLevel,jdbcType=VARCHAR},
      target_buyer_group = #{targetBuyerGroup,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=TINYINT},
      create_id = #{createId,jdbcType=BIGINT},
      create_name = #{createName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_id = #{modifyId,jdbcType=BIGINT},
      modify_name = #{modifyName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>