<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.promotion.cpc.biz.dao.PromotionSellerDetailDAO" >
  <resultMap id="BaseResultMap" type="cn.htd.promotion.cpc.dto.response.PromotionSellerDetailDTO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="promotion_id" property="promotionId" jdbcType="VARCHAR" />
    <result column="rule_id" property="ruleId" jdbcType="BIGINT" />
    <result column="seller_code" property="sellerCode" jdbcType="VARCHAR" />
    <result column="seller_name" property="sellerName" jdbcType="VARCHAR" />
    <result column="belong_superior_name" property="belongSuperiorName" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="TINYINT" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_id" property="modifyId" jdbcType="BIGINT" />
    <result column="modify_name" property="modifyName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, promotion_id, rule_id, seller_code, seller_name, belong_superior_name, delete_flag, 
    create_id, create_name, create_time, modify_id, modify_name, modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from promotion_seller_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from promotion_seller_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByPromotionId" parameterType="java.lang.String" >
    update promotion_seller_detail set delete_flag = 1
    where promotion_id = #{promotionId,jdbcType=VARCHAR}
  </delete>
  
  <delete id="deleteTimelimitedSellerDetail" parameterType="cn.htd.promotion.cpc.dto.response.PromotionSellerDetailDTO" >
    update promotion_seller_detail set delete_flag = 1
    where promotion_id = #{promotionId,jdbcType=VARCHAR} and seller_code = #{sellerCode,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="cn.htd.promotion.cpc.dto.response.PromotionSellerDetailDTO" >
    insert into promotion_seller_detail (id, promotion_id, rule_id, 
      seller_code, seller_name, belong_superior_name, 
      delete_flag, create_id, create_name, 
      create_time, modify_id, modify_name, 
      modify_time)
    values (#{id,jdbcType=BIGINT}, #{promotionId,jdbcType=VARCHAR}, #{ruleId,jdbcType=BIGINT}, 
      #{sellerCode,jdbcType=VARCHAR}, #{sellerName,jdbcType=VARCHAR}, #{belongSuperiorName,jdbcType=VARCHAR}, 
      #{deleteFlag,jdbcType=TINYINT}, #{createId,jdbcType=BIGINT}, #{createName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyId,jdbcType=BIGINT}, #{modifyName,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="add" parameterType="cn.htd.promotion.cpc.dto.response.PromotionSellerDetailDTO" >
    insert into promotion_seller_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="promotionId != null" >
        promotion_id,
      </if>
      <if test="ruleId != null" >
        rule_id,
      </if>
      <if test="sellerCode != null" >
        seller_code,
      </if>
      <if test="sellerName != null" >
        seller_name,
      </if>
      <if test="belongSuperiorName != null" >
        belong_superior_name,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createName != null" >
        create_name,
      </if>
        create_time,
      <if test="modifyId != null" >
        modify_id,
      </if>
      <if test="modifyName != null" >
        modify_name,
      </if>
        modify_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="promotionId != null" >
        #{promotionId,jdbcType=VARCHAR},
      </if>
      <if test="ruleId != null" >
        #{ruleId,jdbcType=BIGINT},
      </if>
      <if test="sellerCode != null" >
        #{sellerCode,jdbcType=VARCHAR},
      </if>
      <if test="sellerName != null" >
        #{sellerName,jdbcType=VARCHAR},
      </if>
      <if test="belongSuperiorName != null" >
        #{belongSuperiorName,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="createName != null" >
        #{createName,jdbcType=VARCHAR},
      </if>
        now(),
      <if test="modifyId != null" >
        #{modifyId,jdbcType=BIGINT},
      </if>
      <if test="modifyName != null" >
        #{modifyName,jdbcType=VARCHAR},
      </if>
        now()
    </trim>
  </insert>
  <update id="update" parameterType="cn.htd.promotion.cpc.dto.response.PromotionSellerDetailDTO" >
    update promotion_seller_detail
    <set >
      <if test="promotionId != null" >
        promotion_id = #{promotionId,jdbcType=VARCHAR},
      </if>
      <if test="ruleId != null" >
        rule_id = #{ruleId,jdbcType=BIGINT},
      </if>
      <if test="sellerCode != null" >
        seller_code = #{sellerCode,jdbcType=VARCHAR},
      </if>
      <if test="sellerName != null" >
        seller_name = #{sellerName,jdbcType=VARCHAR},
      </if>
      <if test="belongSuperiorName != null" >
        belong_superior_name = #{belongSuperiorName,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="modifyId != null" >
        modify_id = #{modifyId,jdbcType=BIGINT},
      </if>
      <if test="modifyName != null" >
        modify_name = #{modifyName,jdbcType=VARCHAR},
      </if>
        modify_time = now()
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
    <update id="updateTimelimitedSellerDetail" parameterType="cn.htd.promotion.cpc.dto.response.PromotionSellerDetailDTO" >
    update promotion_seller_detail
    <set >
      <if test="ruleId != null" >
        rule_id = #{ruleId,jdbcType=BIGINT},
      </if>
      <if test="sellerName != null" >
        seller_name = #{sellerName,jdbcType=VARCHAR},
      </if>
      <if test="belongSuperiorName != null" >
        belong_superior_name = #{belongSuperiorName,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="modifyId != null" >
        modify_id = #{modifyId,jdbcType=BIGINT},
      </if>
      <if test="modifyName != null" >
        modify_name = #{modifyName,jdbcType=VARCHAR},
      </if>
        modify_time = now()
    </set>
    where promotion_id = #{promotionId,jdbcType=VARCHAR} and seller_code = #{sellerCode,jdbcType=VARCHAR}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="cn.htd.promotion.cpc.dto.response.PromotionSellerDetailDTO" >
    update promotion_seller_detail
    set promotion_id = #{promotionId,jdbcType=VARCHAR},
      rule_id = #{ruleId,jdbcType=BIGINT},
      seller_code = #{sellerCode,jdbcType=VARCHAR},
      seller_name = #{sellerName,jdbcType=VARCHAR},
      belong_superior_name = #{belongSuperiorName,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=TINYINT},
      create_id = #{createId,jdbcType=BIGINT},
      create_name = #{createName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_id = #{modifyId,jdbcType=BIGINT},
      modify_name = #{modifyName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>