<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.promotion.cpc.biz.dao.PromotionPictureDAO" >
  <resultMap id="BaseResultMap" type="cn.htd.promotion.cpc.dto.response.PromotionPictureDTO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="promotion_id" property="promotionId" jdbcType="VARCHAR" />
    <result column="promotion_picture_type" property="promotionPictureType" jdbcType="VARCHAR" />
    <result column="promotion_picture_url" property="promotionPictureUrl" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="TINYINT" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, promotion_id, promotion_picture_type, promotion_picture_url, delete_flag, create_id, 
    create_name, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from promotion_picture
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from promotion_picture
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.htd.promotion.cpc.dto.response.PromotionPictureDTO" >
    insert into promotion_picture (id, promotion_id, promotion_picture_type, 
      promotion_picture_url, delete_flag, create_id, 
      create_name, create_time)
    values (#{id,jdbcType=BIGINT}, #{promotionId,jdbcType=VARCHAR}, #{promotionPictureType,jdbcType=VARCHAR}, 
      #{promotionPictureUrl,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=TINYINT}, #{createId,jdbcType=BIGINT}, 
      #{createName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="add" parameterType="cn.htd.promotion.cpc.dto.response.PromotionPictureDTO" >
    insert into promotion_picture
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="promotionId != null" >
        promotion_id,
      </if>
      <if test="promotionPictureType != null" >
        promotion_picture_type,
      </if>
      <if test="promotionPictureUrl != null" >
        promotion_picture_url,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createName != null" >
        create_name,
      </if>
        create_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="promotionId != null" >
        #{promotionId,jdbcType=VARCHAR},
      </if>
      <if test="promotionPictureType != null" >
        #{promotionPictureType,jdbcType=VARCHAR},
      </if>
      <if test="promotionPictureUrl != null" >
        #{promotionPictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="createName != null" >
        #{createName,jdbcType=VARCHAR},
      </if>
        now()
    </trim>
  </insert>
  <update id="update" parameterType="cn.htd.promotion.cpc.dto.response.PromotionPictureDTO" >
    update promotion_picture
    <set >
      <if test="promotionId != null" >
        promotion_id = #{promotionId,jdbcType=VARCHAR},
      </if>
      <if test="promotionPictureType != null" >
        promotion_picture_type = #{promotionPictureType,jdbcType=VARCHAR},
      </if>
      <if test="promotionPictureUrl != null" >
        promotion_picture_url = #{promotionPictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="createName != null" >
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
        create_time = now()
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.htd.promotion.cpc.dto.response.PromotionPictureDTO" >
    update promotion_picture
    set promotion_id = #{promotionId,jdbcType=VARCHAR},
      promotion_picture_type = #{promotionPictureType,jdbcType=VARCHAR},
      promotion_picture_url = #{promotionPictureUrl,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=TINYINT},
      create_id = #{createId,jdbcType=BIGINT},
      create_name = #{createName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>