<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.promotion.cpc.biz.dao.PromotionSloganDAO" >
  <resultMap id="BaseResultMap" type="cn.htd.promotion.cpc.biz.dmo.PromotionSloganDMO" >
   <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="PROMOTION_ID" property="promotionId" jdbcType="VARCHAR" />
    <result column="PROMOTION_SLOGAN" property="promotionSlogan" jdbcType="VARCHAR" />
    <result column="CREATE_ID" property="createId" jdbcType="BIGINT" />
	<result column="CREATE_NAME" property="createName" jdbcType="VARCHAR" />
	<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
    <select id="queryBargainSloganBySellerCode" resultMap="BaseResultMap">
    	SELECT ps.* FROM promotion_slogan as ps
    	INNER JOIN promotion_info as pi on ps.promotion_id = pi.promotion_id
    	WHERE pi.promotion_type = 22
    	AND pi.status != 9
    	AND pi.show_status = 3 
    	AND ps.delete_flag = 0
    	AND pi.promotion_provider_seller_code = #{providerSellerCode}
    	AND now() between pi.effective_time and pi.invalid_time
    	ORDER BY pi.effective_time
        limit 0,1
	</select>
	
	<select id="queryBargainSloganByPromotionId" resultType="cn.htd.promotion.cpc.dto.response.PromotionSloganDTO">
		SELECT  ps.* FROM promotion_slogan as ps
		WHERE ps.delete_flag = 0
		AND ps.promotion_id = #{promotionId}
		limit 0,1
	</select>
	
	<insert id="add" useGeneratedKeys="true" keyProperty="id">
	insert into promotion_slogan
		<trim prefix="(" suffix=")" suffixOverrides=",">
			promotion_id,
			promotion_slogan,
			delete_flag,
			create_id,
			create_name,
			create_time,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{promotionId,jdbcType=VARCHAR},
			#{promotionSlogan,jdbcType=VARCHAR}, 
			0,
			#{createId,jdbcType=BIGINT},
			#{createName,jdbcType=VARCHAR},
			now(),
		</trim>
	</insert>
	
	<update id="update">
		update promotion_slogan
		set promotion_slogan = #{promotionSlogan}
		where promotion_id = #{promotionId}
	</update>
	
	<update id="delete" >
		update promotion_slogan
		<set>
			delete_flag = 1
		</set>
		where promotion_id = #{promotionId,jdbcType=VARCHAR}
	</update>
</mapper>