<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.promotion.cpc.biz.dao.TimelimitedSkuPictureDAO" >
  <resultMap id="BaseResultMap" type="cn.htd.promotion.cpc.dto.response.TimelimitedSkuPictureResDTO" >
    <id column="picture_id" property="pictureId" jdbcType="BIGINT" />
    <result column="promotion_id" property="promotionId" jdbcType="VARCHAR" />
    <result column="level_code" property="levelCode" jdbcType="VARCHAR" />
    <result column="picture_url" property="pictureUrl" jdbcType="VARCHAR" />
    <result column="is_first" property="isFirst" jdbcType="TINYINT" />
    <result column="sort_num" property="sortNum" jdbcType="TINYINT" />
    <result column="delete_flag" property="deleteFlag" jdbcType="TINYINT" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_id" property="modifyId" jdbcType="BIGINT" />
    <result column="modify_name" property="modifyName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
    <insert id="insert" parameterType="cn.htd.promotion.cpc.dto.request.TimelimitedSkuPictureReqDTO" >
    insert into timelimited_sku_picture (picture_id, promotion_id, level_code, 
      picture_url, is_first, sort_num, 
      delete_flag, create_id, create_name, 
      create_time, modify_id, modify_name, 
      modify_time)
    values (#{pictureId,jdbcType=BIGINT}, #{promotionId,jdbcType=VARCHAR}, #{levelCode,jdbcType=VARCHAR}, 
      #{pictureUrl,jdbcType=VARCHAR}, #{isFirst,jdbcType=TINYINT}, #{sortNum,jdbcType=TINYINT}, 
      #{deleteFlag,jdbcType=TINYINT}, #{createId,jdbcType=BIGINT}, #{createName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyId,jdbcType=BIGINT}, #{modifyName,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  
   <insert id="insertSelective" parameterType="cn.htd.promotion.cpc.dto.request.TimelimitedSkuPictureReqDTO" >
    insert into timelimited_sku_picture
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pictureId != null" >
        picture_id,
      </if>
      <if test="promotionId != null" >
        promotion_id,
      </if>
      <if test="levelCode != null" >
	level_code,
      </if>
      <if test="pictureUrl != null" >
        picture_url,
      </if>
      <if test="isFirst != null" >
        is_first,
      </if>
      <if test="sortNum != null" >
        sort_num,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createName != null" >
        create_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyId != null" >
        modify_id,
      </if>
      <if test="modifyName != null" >
        modify_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pictureId != null" >
        #{pictureId,jdbcType=BIGINT},
      </if>
      <if test="promotionId != null" >
        #{promotionId,jdbcType=VARCHAR},
      </if>
      <if test="levelCode != null" >
        #{levelCode,jdbcType=VARCHAR},
      </if>
      <if test="pictureUrl != null" >
        #{pictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="isFirst != null" >
        #{isFirst,jdbcType=TINYINT},
      </if>
      <if test="sortNum != null" >
        #{sortNum,jdbcType=TINYINT},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="createName != null" >
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyId != null" >
        #{modifyId,jdbcType=BIGINT},
      </if>
      <if test="modifyName != null" >
        #{modifyName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
    <update id="updateByPrimaryKey" parameterType="cn.htd.promotion.cpc.dto.request.TimelimitedSkuPictureReqDTO" >
    update timelimited_sku_picture
    set promotion_id = #{promotionId,jdbcType=VARCHAR},
      level_code = #{levelCode,jdbcType=VARCHAR},
      picture_url = #{pictureUrl,jdbcType=VARCHAR},
      is_first = #{isFirst,jdbcType=TINYINT},
      sort_num = #{sortNum,jdbcType=TINYINT},
      delete_flag = #{deleteFlag,jdbcType=TINYINT},
      create_id = #{createId,jdbcType=BIGINT},
      create_name = #{createName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_id = #{modifyId,jdbcType=BIGINT},
      modify_name = #{modifyName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where picture_id = #{pictureId,jdbcType=BIGINT}
  </update>
  
    <update id="updateByPrimaryKeySelective" parameterType="cn.htd.promotion.cpc.dto.request.TimelimitedSkuPictureReqDTO" >
    update timelimited_sku_picture
    <set >
      <if test="promotionId != null" >
        promotion_id = #{promotionId,jdbcType=VARCHAR},
      </if>
      <if test="levelCode != null" >
        level_code = #{levelCode,jdbcType=VARCHAR},
      </if>
      <if test="pictureUrl != null" >
        picture_url = #{pictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="isFirst != null" >
        is_first = #{isFirst,jdbcType=TINYINT},
      </if>
      <if test="sortNum != null" >
        sort_num = #{sortNum,jdbcType=TINYINT},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="createName != null" >
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyId != null" >
        modify_id = #{modifyId,jdbcType=BIGINT},
      </if>
      <if test="modifyName != null" >
        modify_name = #{modifyName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where picture_id = #{pictureId,jdbcType=BIGINT}
  </update>
  
  <update id="pseudoDelete" parameterType="cn.htd.promotion.cpc.dto.request.TimelimitedSkuPictureReqDTO" >
    update timelimited_sku_picture
    <set >
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="modifyId != null" >
        modify_id = #{modifyId,jdbcType=BIGINT},
      </if>
      <if test="modifyName != null" >
        modify_name = #{modifyName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where promotion_id = #{promotionId,jdbcType=VARCHAR}
  </update>
  
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
	delete from timelimited_sku_picture
	where picture_id = #{pictureId,jdbcType=BIGINT}
  </delete>
  
  <sql id="Base_Column_List" >
    picture_id, promotion_id, level_code, picture_url, is_first, sort_num, delete_flag, 
    create_id, create_name, create_time, modify_id, modify_name, modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from timelimited_sku_picture
    where picture_id = #{pictureId,jdbcType=BIGINT} and delete_flag = 0
  </select>
  
   <select id="selectByPromotionId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from timelimited_sku_picture
    where promotion_id = #{promotionId,jdbcType=VARCHAR} and delete_flag = 0
  </select>


 


</mapper>