<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.promotion.cpc.biz.dao.TimelimitedInfoDAO">
	<resultMap id="BaseResultMap"
		type="cn.htd.promotion.cpc.dto.response.TimelimitedInfoResDTO">
		<id column="timelimited_id" property="timelimitedId" jdbcType="BIGINT" />
		<result column="promotion_id" property="promotionId" jdbcType="VARCHAR" />
		<result column="level_code" property="levelCode" jdbcType="VARCHAR" />
		<result column="seller_code" property="sellerCode" jdbcType="VARCHAR" />
		<result column="item_id" property="itemId" jdbcType="BIGINT" />
		<result column="sku_code" property="skuCode" jdbcType="VARCHAR" />
		<result column="sku_name" property="skuName" jdbcType="VARCHAR" />
		<result column="first_category_code" property="firstCategoryCode"
	jdbcType="VARCHAR" />
		<result column="second_category_code" property="secondCategoryCode"
			jdbcType="VARCHAR" />
		<result column="third_category_code" property="thirdCategoryCode"
			jdbcType="VARCHAR" />
		<result column="sku_category_name" property="skuCategoryName"
			jdbcType="VARCHAR" />
		<result column="sku_pic_url" property="skuPicUrl" jdbcType="VARCHAR" />
		<result column="sku_cost_price" property="skuCostPrice"
			jdbcType="DECIMAL" />
		<result column="sku_timelimited_price" property="skuTimelimitedPrice"
			jdbcType="DECIMAL" />
		<result column="timelimited_sku_count" property="timelimitedSkuCount"
			jdbcType="INTEGER" />
		<result column="timelimited_threshold" property="timelimitedThreshold"
			jdbcType="INTEGER" />
		<result column="timelimited_valid_interval" property="timelimitedValidInterval"
			jdbcType="INTEGER" />
		<result column="describe_content" property="describeContent" jdbcType="LONGVARCHAR" />
		<result column="create_id" property="createId" jdbcType="BIGINT" />
		<result column="create_name" property="createName" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="modify_id" property="modifyId" jdbcType="BIGINT" />
		<result column="modify_name" property="modifyName" jdbcType="VARCHAR" />
		<result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
		<result column="effective_time" jdbcType="TIMESTAMP" property="effectiveTime"/>
        <result column="invalid_time" jdbcType="TIMESTAMP" property="invalidTime"/>
        <result column="show_status" jdbcType="VARCHAR" property="showStatus"/>
	</resultMap>

	<insert id="insert" parameterType="cn.htd.promotion.cpc.dto.request.TimelimitedInfoReqDTO">
		insert into timelimited_info (timelimited_id,
		promotion_id,
		level_code,
		seller_code, item_id, sku_code,
		sku_name,
		first_category_code, second_category_code,
		third_category_code,
		sku_category_name, sku_pic_url,
		sku_cost_price, sku_timelimited_price,
		timelimited_sku_count,
		timelimited_threshold,
		timelimited_valid_interval,
		describe_content,
		create_id, create_name, create_time,
		modify_id, modify_name, modify_time
		)
		values
		(#{timelimitedId,jdbcType=BIGINT}, #{promotionId,jdbcType=VARCHAR},
		#{levelCode,jdbcType=VARCHAR},
		#{sellerCode,jdbcType=VARCHAR},
		#{itemId,jdbcType=BIGINT}, #{skuCode,jdbcType=VARCHAR},
		#{skuName,jdbcType=VARCHAR}, #{firstCategoryCode,jdbcType=VARCHAR},
		#{secondCategoryCode,jdbcType=VARCHAR},
		#{thirdCategoryCode,jdbcType=VARCHAR},
		#{skuCategoryName,jdbcType=VARCHAR}, #{skuPicUrl,jdbcType=VARCHAR},
		#{skuCostPrice,jdbcType=DECIMAL},
		#{skuTimelimitedPrice,jdbcType=DECIMAL},
		#{timelimitedSkuCount,jdbcType=INTEGER},
		#{timelimitedThreshold,jdbcType=INTEGER},
		#{timelimitedValidInterval,jdbcType=INTEGER},
		#{describeContent,jdbcType=LONGVARCHAR},
		#{createId,jdbcType=BIGINT}, #{createName,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{modifyId,jdbcType=BIGINT},
		#{modifyName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}
		)
	</insert>

	<insert id="insertSelective"
		parameterType="cn.htd.promotion.cpc.dto.request.TimelimitedInfoReqDTO">
		insert into timelimited_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="timelimitedId != null">
				timelimited_id,
			</if>
			<if test="promotionId != null">
				promotion_id,
			</if>
			<if test="levelCode != null">
				level_code,
			</if>
			<if test="sellerCode != null">
				seller_code,
			</if>
			<if test="itemId != null">
				item_id,
			</if>
			<if test="skuCode != null">
				sku_code,
			</if>
			<if test="skuName != null">
				sku_name,
			</if>
			<if test="firstCategoryCode != null">
				first_category_code,
			</if>
			<if test="secondCategoryCode != null">
				second_category_code,
			</if>
			<if test="thirdCategoryCode != null">
				third_category_code,
			</if>
			<if test="skuCategoryName != null">
				sku_category_name,
			</if>
			<if test="skuPicUrl != null">
				sku_pic_url,
			</if>
			<if test="skuCostPrice != null">
				sku_cost_price,
			</if>
			<if test="skuTimelimitedPrice != null">
				sku_timelimited_price,
			</if>
			<if test="timelimitedSkuCount != null">
				timelimited_sku_count,
			</if>
			<if test="timelimitedThreshold != null">
				timelimited_threshold,
			</if>
			<if test="timelimitedValidInterval != null">
				timelimited_valid_interval,
			</if>
			<if test="describeContent != null">
				describe_content,
			</if>
			<if test="createId != null">
				create_id,
			</if>
			<if test="createName != null">
				create_name,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="modifyId != null">
				modify_id,
			</if>
			<if test="modifyName != null">
				modify_name,
			</if>
			<if test="modifyTime != null">
				modify_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="timelimitedId != null">
				#{timelimitedId,jdbcType=BIGINT},
			</if>
			<if test="promotionId != null">
				#{promotionId,jdbcType=VARCHAR},
			</if>
			<if test="levelCode != null">
				#{levelCode,jdbcType=VARCHAR},
			</if>
			<if test="sellerCode != null">
				#{sellerCode,jdbcType=VARCHAR},
			</if>
			<if test="itemId != null">
				#{itemId,jdbcType=BIGINT},
			</if>
			<if test="skuCode != null">
				#{skuCode,jdbcType=VARCHAR},
			</if>
			<if test="skuName != null">
				#{skuName,jdbcType=VARCHAR},
			</if>
			<if test="firstCategoryCode != null">
				#{firstCategoryCode,jdbcType=VARCHAR},
			</if>
			<if test="secondCategoryCode != null">
				#{secondCategoryCode,jdbcType=VARCHAR},
			</if>
			<if test="thirdCategoryCode != null">
				#{thirdCategoryCode,jdbcType=VARCHAR},
			</if>
			<if test="skuCategoryName != null">
				#{skuCategoryName,jdbcType=VARCHAR},
			</if>
			<if test="skuPicUrl != null">
				#{skuPicUrl,jdbcType=VARCHAR},
			</if>
			<if test="skuCostPrice != null">
				#{skuCostPrice,jdbcType=DECIMAL},
			</if>
			<if test="skuTimelimitedPrice != null">
				#{skuTimelimitedPrice,jdbcType=DECIMAL},
			</if>
			<if test="timelimitedSkuCount != null">
				#{timelimitedSkuCount,jdbcType=INTEGER},
			</if>
			<if test="timelimitedThreshold != null">
				#{timelimitedThreshold,jdbcType=INTEGER},
			</if>
			<if test="timelimitedValidInterval != null">
				#{timelimitedValidInterval,jdbcType=INTEGER},
			</if>
			<if test="describeContent != null">
				#{describeContent,jdbcType=LONGVARCHAR},
			</if>
			<if test="createId != null">
				#{createId,jdbcType=BIGINT},
			</if>
			<if test="createName != null">
				#{createName,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyId != null">
				#{modifyId,jdbcType=BIGINT},
			</if>
			<if test="modifyName != null">
				#{modifyName,jdbcType=VARCHAR},
			</if>
			<if test="modifyTime != null">
				#{modifyTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKey"
		parameterType="cn.htd.promotion.cpc.dto.request.TimelimitedInfoReqDTO">
		update timelimited_info
		set promotion_id =
		#{promotionId,jdbcType=VARCHAR},
		level_code =
		#{levelCode,jdbcType=VARCHAR},
		seller_code =
		#{sellerCode,jdbcType=VARCHAR},
		item_id = #{itemId,jdbcType=BIGINT},
		sku_code = #{skuCode,jdbcType=VARCHAR},
		sku_name =
		#{skuName,jdbcType=VARCHAR},
		first_category_code =
		#{firstCategoryCode,jdbcType=VARCHAR},
		second_category_code =
		#{secondCategoryCode,jdbcType=VARCHAR},
		third_category_code =
		#{thirdCategoryCode,jdbcType=VARCHAR},
		sku_category_name =
		#{skuCategoryName,jdbcType=VARCHAR},
		sku_pic_url =
		#{skuPicUrl,jdbcType=VARCHAR},
		sku_cost_price =
		#{skuCostPrice,jdbcType=DECIMAL},
		sku_timelimited_price =
		#{skuTimelimitedPrice,jdbcType=DECIMAL},
		timelimited_sku_count =
		#{timelimitedSkuCount,jdbcType=INTEGER},
		timelimited_threshold =
		#{timelimitedThreshold,jdbcType=INTEGER},
		timelimited_valid_interval =
		#{timelimitedValidInterval,jdbcType=INTEGER},
		describe_content=#{describeContent,jdbcType=LONGVARCHAR},
		create_id =
		#{createId,jdbcType=BIGINT},
		create_name =
		#{createName,jdbcType=VARCHAR},
		create_time =
		#{createTime,jdbcType=TIMESTAMP},
		modify_id =
		#{modifyId,jdbcType=BIGINT},
		modify_name =
		#{modifyName,jdbcType=VARCHAR},
		modify_time =
		#{modifyTime,jdbcType=TIMESTAMP}
		where timelimited_id =
		#{timelimitedId,jdbcType=BIGINT}
	</update>

	<update id="updateByPrimaryKeySelective"
		parameterType="cn.htd.promotion.cpc.dto.request.TimelimitedInfoReqDTO">
		update timelimited_info
		<set>
			<if test="promotionId != null">
				promotion_id = #{promotionId,jdbcType=VARCHAR},
			</if>
			<if test="levelCode != null">
				level_code = #{levelCode,jdbcType=VARCHAR},
			</if>
			<if test="sellerCode != null">
				seller_code = #{sellerCode,jdbcType=VARCHAR},
			</if>
			<if test="itemId != null">
				item_id = #{itemId,jdbcType=BIGINT},
			</if>
			<if test="skuCode != null">
				sku_code = #{skuCode,jdbcType=VARCHAR},
			</if>
			<if test="skuName != null">
				sku_name = #{skuName,jdbcType=VARCHAR},
			</if>
			<if test="firstCategoryCode != null">
				first_category_code =
				#{firstCategoryCode,jdbcType=VARCHAR},
			</if>
			<if test="secondCategoryCode != null">
				second_category_code =
				#{secondCategoryCode,jdbcType=VARCHAR},
			</if>
			<if test="thirdCategoryCode != null">
				third_category_code =
				#{thirdCategoryCode,jdbcType=VARCHAR},
			</if>
			<if test="skuCategoryName != null">
				sku_category_name = #{skuCategoryName,jdbcType=VARCHAR},
			</if>
			<if test="skuPicUrl != null">
				sku_pic_url = #{skuPicUrl,jdbcType=VARCHAR},
			</if>
			<if test="skuCostPrice != null">
				sku_cost_price = #{skuCostPrice,jdbcType=DECIMAL},
			</if>
			<if test="skuTimelimitedPrice != null">
				sku_timelimited_price =
				#{skuTimelimitedPrice,jdbcType=DECIMAL},
			</if>
			<if test="timelimitedSkuCount != null">
				timelimited_sku_count =
				#{timelimitedSkuCount,jdbcType=INTEGER},
			</if>
			<if test="timelimitedThreshold != null">
				timelimited_threshold =
				#{timelimitedThreshold,jdbcType=INTEGER},
			</if>
			<if test="timelimitedValidInterval != null">
				timelimited_valid_interval =
				#{timelimitedValidInterval,jdbcType=INTEGER},
			</if>
			<if test="describeContent != null">
				describe_content=#{describeContent,jdbcType=LONGVARCHAR},
			</if>
			<if test="createId != null">
				create_id = #{createId,jdbcType=BIGINT},
			</if>
			<if test="createName != null">
				create_name = #{createName,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyId != null">
				modify_id = #{modifyId,jdbcType=BIGINT},
			</if>
			<if test="modifyName != null">
				modify_name = #{modifyName,jdbcType=VARCHAR},
			</if>
			<if test="modifyTime != null">
				modify_time = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where timelimited_id = #{timelimitedId,jdbcType=BIGINT}
	</update>
	
	<update id="updateTimelimitedInfoByPromotionId" parameterType="cn.htd.promotion.cpc.dto.request.TimelimitedInfoReqDTO">
		update timelimited_info
		<set>
			<if test="levelCode != null">
				level_code = #{levelCode,jdbcType=VARCHAR},
			</if>
			<if test="sellerCode != null">
				seller_code = #{sellerCode,jdbcType=VARCHAR},
			</if>
			<if test="itemId != null">
				item_id = #{itemId,jdbcType=BIGINT},
			</if>
			<if test="skuCode != null">
				sku_code = #{skuCode,jdbcType=VARCHAR},
			</if>
			<if test="skuName != null">
				sku_name = #{skuName,jdbcType=VARCHAR},
			</if>
			<if test="firstCategoryCode != null">
				first_category_code =
				#{firstCategoryCode,jdbcType=VARCHAR},
			</if>
			<if test="secondCategoryCode != null">
				second_category_code =
				#{secondCategoryCode,jdbcType=VARCHAR},
			</if>
			<if test="thirdCategoryCode != null">
				third_category_code =
				#{thirdCategoryCode,jdbcType=VARCHAR},
			</if>
			<if test="skuCategoryName != null">
				sku_category_name = #{skuCategoryName,jdbcType=VARCHAR},
			</if>
			<if test="skuPicUrl != null">
				sku_pic_url = #{skuPicUrl,jdbcType=VARCHAR},
			</if>
			<if test="skuCostPrice != null">
				sku_cost_price = #{skuCostPrice,jdbcType=DECIMAL},
			</if>
			<if test="skuTimelimitedPrice != null">
				sku_timelimited_price =
				#{skuTimelimitedPrice,jdbcType=DECIMAL},
			</if>
			<if test="timelimitedSkuCount != null">
				timelimited_sku_count =
				#{timelimitedSkuCount,jdbcType=INTEGER},
			</if>
			<if test="timelimitedThreshold != null">
				timelimited_threshold =
				#{timelimitedThreshold,jdbcType=INTEGER},
			</if>
			<if test="timelimitedValidInterval != null">
				timelimited_valid_interval =
				#{timelimitedValidInterval,jdbcType=INTEGER},
			</if>
			<if test="describeContent != null">
				describe_content=#{describeContent,jdbcType=LONGVARCHAR},
			</if>
			<if test="createId != null">
				create_id = #{createId,jdbcType=BIGINT},
			</if>
			<if test="createName != null">
				create_name = #{createName,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyId != null">
				modify_id = #{modifyId,jdbcType=BIGINT},
			</if>
			<if test="modifyName != null">
				modify_name = #{modifyName,jdbcType=VARCHAR},
			</if>
			<if test="modifyTime != null">
				modify_time = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where promotion_id = #{promotionId,jdbcType=VARCHAR}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		timelimited_info
		where timelimited_id =
		#{timelimitedId,jdbcType=BIGINT}
	</delete>

	<sql id="Base_Column_List">
	timelimited_id, promotion_id, level_code, seller_code,
	item_id,
	sku_code, sku_name,
	first_category_code, second_category_code,
	third_category_code, sku_category_name,
	sku_pic_url, sku_cost_price,
	sku_timelimited_price,
	timelimited_sku_count, timelimited_threshold,
	timelimited_valid_interval, 
	describe_content,
	create_id, create_name, create_time,
	modify_id, modify_name,
	modify_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from timelimited_info
		where timelimited_id =
		#{timelimitedId,jdbcType=BIGINT}
	</select>
	
	
	<select id="selectByPromotionId" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from timelimited_info
		where promotion_id =
		#{promotionId,jdbcType=VARCHAR}
	</select>


	<sql id="dynamic_fragment_timelimitedInfo">
		<if test="dto.timelimitedId != null">
			and ti.timelimited_id = #{dto.timelimitedId,jdbcType=BIGINT} 
		</if>
		<if test="dto.promotionId != null">
			and ti.promotion_id = #{dto.promotionId,jdbcType=VARCHAR}  
		</if>
		<if test="dto.skuName != null and dto.skuName != ''">
			and	ti.sku_name like CONCAT('%',#{dto.skuName,jdbcType=VARCHAR},'%')
		</if>
		<if test="dto.firstCategoryCode != null and dto.firstCategoryCode != ''">
			and	ti.first_category_code = #{dto.firstCategoryCode,jdbcType=VARCHAR} 
		</if>
		<if test="dto.secondCategoryCode != null and dto.secondCategoryCode != ''">
			and	ti.second_category_code = #{dto.secondCategoryCode,jdbcType=VARCHAR} 
		</if>
		<if test="dto.thirdCategoryCode != null and dto.thirdCategoryCode != ''">
			and	ti.third_category_code = #{dto.thirdCategoryCode,jdbcType=VARCHAR} 
		</if>
	    <if test="dto.showStatus != null and dto.showStatus != ''">
			and pi.show_status = #{dto.showStatus,jdbcType=VARCHAR}  
		</if>
		<if test="dto.effectiveTime != null">
		 <![CDATA[ 
			and pi.effective_time >= #{dto.effectiveTime,jdbcType=TIMESTAMP}
		  ]]> 
		</if>
		<if test="dto.invalidTime != null">
		 <![CDATA[ 
			and pi.invalid_time <= #{dto.invalidTime,jdbcType=TIMESTAMP}
		 ]]>
		</if>
	</sql>

	<select id="getTimelimitedInfosCount" resultType="java.lang.Integer">
		select count(1)  from timelimited_info ti
        left join promotion_info pi on pi.promotion_id = ti.promotion_id
		WHERE 1 = 1  
        <include refid="dynamic_fragment_timelimitedInfo"/>
	</select>

	<select id="getTimelimitedInfosForPage" resultMap="BaseResultMap">
		select
			ti.timelimited_id, ti.promotion_id, ti.level_code, ti.seller_code,
	        ti.item_id,sku_code, ti.sku_name,
	        ti.first_category_code, ti.second_category_code,
	        ti.third_category_code, ti.sku_category_name,
	        ti.sku_pic_url, ti.sku_cost_price,
	        ti.sku_timelimited_price,
	        ti.timelimited_sku_count, ti.timelimited_threshold,
	        ti.timelimited_valid_interval, ti.create_id, ti.create_name, ti.create_time,
	        ti.modify_id, ti.modify_name,ti.modify_time,
            pi.effective_time,pi.invalid_time,pi.show_status
		from timelimited_info ti
        left join promotion_info pi on pi.promotion_id = ti.promotion_id
		WHERE 1 = 1  
        <include refid="dynamic_fragment_timelimitedInfo"/>
		ORDER BY ti.modify_time desc 
		LIMIT #{page.pageOffset},#{page.rows}
	</select>

	<select id="getTimelimitedInfosByParams" resultMap="BaseResultMap">
		select
			timelimited_id, promotion_id, level_code, seller_code,
	        item_id,sku_code, sku_name,
	        first_category_code, second_category_code,
	        third_category_code, sku_category_name,
	        sku_pic_url, sku_cost_price,
	        sku_timelimited_price,
	        timelimited_sku_count, timelimited_threshold,
	        timelimited_valid_interval, create_id, create_name, create_time,
	        modify_id, modify_name,modify_time
		from timelimited_info  ti
		WHERE 1 = 1 
        <include refid="dynamic_fragment_timelimitedInfo"/>
		ORDER BY ti.modify_time desc 
	</select>




</mapper>