<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.promotion.cpc.biz.dao.VoteActivityMemberPictureDAO" >
  <resultMap id="BaseResultMap" type="cn.htd.promotion.cpc.dto.response.VoteActivityMemberPictureResDTO" >
    <id column="picture_id" property="pictureId" jdbcType="BIGINT" />
    <result column="vote_member_id" property="voteMemberId" jdbcType="BIGINT" />
    <result column="picture_url" property="pictureUrl" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="TINYINT" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_id" property="modifyId" jdbcType="BIGINT" />
    <result column="modify_name" property="modifyName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    picture_id, vote_member_id, picture_url, delete_flag, create_id, create_name, create_time, 
    modify_id, modify_name, modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from vote_activity_member_picture
    where picture_id = #{pictureId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from vote_activity_member_picture
    where picture_id = #{pictureId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.htd.promotion.cpc.dto.response.VoteActivityMemberPictureResDTO" >
    insert into vote_activity_member_picture (picture_id, vote_member_id, picture_url, 
      delete_flag, create_id, create_name, 
      create_time, modify_id, modify_name, 
      modify_time)
    values (#{pictureId,jdbcType=BIGINT}, #{voteMemberId,jdbcType=BIGINT}, #{pictureUrl,jdbcType=VARCHAR}, 
      #{deleteFlag,jdbcType=TINYINT}, #{createId,jdbcType=BIGINT}, #{createName,jdbcType=VARCHAR}, 
      SYSDATE, #{modifyId,jdbcType=BIGINT}, #{modifyName,jdbcType=VARCHAR},
      SYSDATE
  </insert>
  <insert id="insertSelective" parameterType="cn.htd.promotion.cpc.dto.response.VoteActivityMemberPictureResDTO" >
    insert into vote_activity_member_picture
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pictureId != null" >
        picture_id,
      </if>
      <if test="voteMemberId != null" >
        vote_member_id,
      </if>
      <if test="pictureUrl != null" >
        picture_url,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createName != null" >
        create_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyId != null" >
        modify_id,
      </if>
      <if test="modifyName != null" >
        modify_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pictureId != null" >
        #{pictureId,jdbcType=BIGINT},
      </if>
      <if test="voteMemberId != null" >
        #{voteMemberId,jdbcType=BIGINT},
      </if>
      <if test="pictureUrl != null" >
        #{pictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="createName != null" >
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyId != null" >
        #{modifyId,jdbcType=BIGINT},
      </if>
      <if test="modifyName != null" >
        #{modifyName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.htd.promotion.cpc.dto.response.VoteActivityMemberPictureResDTO" >
    update vote_activity_member_picture
    <set >
      <if test="voteMemberId != null" >
        vote_member_id = #{voteMemberId,jdbcType=BIGINT},
      </if>
      <if test="pictureUrl != null" >
        picture_url = #{pictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="createName != null" >
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyId != null" >
        modify_id = #{modifyId,jdbcType=BIGINT},
      </if>
      <if test="modifyName != null" >
        modify_name = #{modifyName,jdbcType=VARCHAR},
      </if>
      modify_time = SYSDATE
    </set>
    where picture_id = #{pictureId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.htd.promotion.cpc.dto.response.VoteActivityMemberPictureResDTO" >
    update vote_activity_member_picture
    set vote_member_id = #{voteMemberId,jdbcType=BIGINT},
      picture_url = #{pictureUrl,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=TINYINT},
      create_id = #{createId,jdbcType=BIGINT},
      create_name = #{createName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_id = #{modifyId,jdbcType=BIGINT},
      modify_name = #{modifyName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where picture_id = #{pictureId,jdbcType=BIGINT}
  </update>

  <select id="selectByVoteMemberId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from vote_activity_member_picture
    where vote_member_id = #{voteMemberId,jdbcType=BIGINT}
  </select>
</mapper>