<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c.%M:%L - %m%n" />
		</layout>
	</appender>
	<!-- 业务日志输出 -->
	<appender name="SERVICE-FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${loggingRoot}/${server.name}/service.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %X{invokeNo} %c.%M:%L - %m%n" />
		</layout>
	</appender>
	<!-- 统计日志 -->
	<appender name="MONITOR-FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${loggingRoot}/${server.name}/monitor.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %X{invokeNo} %c.%M:%L - %m%n" />
		</layout>
	</appender>
	<!-- 其他日志 -->
	<appender name="SYSTEM-FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${loggingRoot}/${server.name}/system.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %X{invokeNo} %c.%M:%L - %m%n" />
		</layout>
	</appender>
	
	<logger name="cn.htd" additivity="false"><!-- false 不向root传递日志 -->
		<level value="${loggingLevel}"/>
		<appender-ref ref="SERVICE-FILE"/>
		<!-- <appender-ref ref="STDOUT"/> -->
	</logger>

	<logger name="cn.htd.common.interceptor.MethodAccessLogInterceptor" additivity="false">
		<level value="${loggingLevel}"/>
		<appender-ref ref="MONITOR-FILE"/>
		<!-- <appender-ref ref="STDOUT"/> -->
	</logger>

	<root>
		<priority value="${loggingLevel}" />
		<appender-ref ref="SYSTEM-FILE"/>
		<!-- <appender-ref ref="STDOUT"/> -->
	</root>
</log4j:configuration> 