<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.htd.storecenter.dao.ShopModifyDetailDAO">
	
	<!-- =========================================================== -->
    <!-- 定义resultMap                                                                                                                                                                             -->
    <!-- =========================================================== -->
	<resultMap id="shopModifyDetailMap" type="cn.htd.storecenter.dto.ShopModifyDetailDTO">
				<result property="id" column="id"/>
				<result property="shopId" column="shop_id"/>
				<result property="applicantUserId" column="applicant_user_id"/>
				<result property="applicantUserName" column="applicant_user_name"/>
				<result property="contentName" column="content_name"/>
				<result property="changeTableId" column="change_table_id"/>
				<result property="changeFieldId" column="change_field_id"/>
				<result property="beforeChange" column="before_change"/>
				<result property="afterChange" column="after_change"/>
				<result property="createTime" column="create_time"/>
				<result property="createId" column="create_id"/>
				<result property="createName" column="create_name"/>
	</resultMap>
	
	<!-- =========================================================== -->
    <!-- 一些公共变量设置                                                                                                                                                                             -->
    <!-- =========================================================== -->
	<!-- mysql 分页 -->
	<sql id="pagination_tail">
	  limit #{page.pageOffset} , #{page.rows}
	</sql>
	<!-- mysql 查询总数 -->
	<sql id="count_Tail">
		select count(1) from 
	</sql>
	
	<sql id="selectAllColumns">
		<![CDATA[
		select
 			id
 			,shop_id
 			,applicant_user_id
 			,applicant_user_name
 			,content_name
 			,change_table_id
 			,change_field_id
 			,before_change
 			,after_change
 			,create_time
 			,create_id
 			,create_name
		FROM 
		shop_modify_detail shop_modify_detail_
		]]>
	</sql>
	
	<sql id="where_fragement">
		where 1=1 
		<if test="entity!=null">
			<if test="entity.id != null  and entity.id !=''">
				<![CDATA[ and shop_modify_detail_.id  = #{entity.id} ]]>
			</if>
			<if test="entity.shopId != null  and entity.shopId !=''">
				<![CDATA[ and shop_modify_detail_.shop_id  = #{entity.shopId} ]]>
			</if>
			<if test="entity.applicantUserId != null  and entity.applicantUserId !=''">
				<![CDATA[ and shop_modify_detail_.applicant_user_id  = #{entity.applicantUserId} ]]>
			</if>
			<if test="entity.applicantUserName != null  and entity.applicantUserName !=''">
				<![CDATA[ and shop_modify_detail_.applicant_user_name  = #{entity.applicantUserName} ]]>
			</if>
			<if test="entity.contentName != null  and entity.contentName !=''">
				<![CDATA[ and shop_modify_detail_.content_name  = #{entity.contentName} ]]>
			</if>
			<if test="entity.changeTableId != null  and entity.changeTableId !=''">
				<![CDATA[ and shop_modify_detail_.change_table_id  = #{entity.changeTableId} ]]>
			</if>
			<if test="entity.changeFieldId != null  and entity.changeFieldId !=''">
				<![CDATA[ and shop_modify_detail_.change_field_id  = #{entity.changeFieldId} ]]>
			</if>
			<if test="entity.beforeChange != null  and entity.beforeChange !=''">
				<![CDATA[ and shop_modify_detail_.before_change  = #{entity.beforeChange} ]]>
			</if>
			<if test="entity.afterChange != null  and entity.afterChange !=''">
				<![CDATA[ and shop_modify_detail_.after_change  = #{entity.afterChange} ]]>
			</if>
			<if test="entity.createTime != null  and entity.createTime !=''">
				<![CDATA[ and shop_modify_detail_.create_time  = #{entity.createTime} ]]>
			</if>
			<if test="entity.createId != null  and entity.createId !=''">
				<![CDATA[ and shop_modify_detail_.create_id  = #{entity.createId} ]]>
			</if>
			<if test="entity.createName != null  and entity.createName !=''">
				<![CDATA[ and shop_modify_detail_.create_name  = #{entity.createName} ]]>
			</if>
		</if>
	</sql>
	
	<!-- =========================================================== -->
    <!-- DAO方法中的基本增删改查方法                                                                                                                                                           -->
    <!-- =========================================================== -->
   <!-- 根据id查询 -->
	<select id="selectListById" resultMap="shopModifyDetailMap" parameterType="long">
		<include refid="selectAllColumns" />
		<![CDATA[
		where shop_modify_detail_.id = #{id}
		]]>
	</select>
	
	<!-- 分页查询 -->
	<select id="selectListByCondition" resultMap="shopModifyDetailMap" >
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
		order by create_time DESC
		<if test="page!=null">
			<include refid="pagination_tail" />
		</if>
	</select>
	
	<select id="selectCountByCondition" resultType="long">
		<include refid="count_Tail" />
		shop_modify_detail shop_modify_detail_
		<include refid="where_fragement" />
	</select>
	
	<!-- 插入记录 -->
	<insert id="insert" parameterType="cn.htd.storecenter.dto.ShopModifyDetailDTO">
		<![CDATA[
		insert into shop_modify_detail (
 			shop_id
 			,applicant_user_id
 			,applicant_user_name
 			,content_name
 			,change_table_id
 			,change_field_id
 			,before_change
 			,after_change
 			,create_time
 			,create_id
 			,create_name
		   )values(
			#{shopId}
			,#{applicantUserId}
			,#{applicantUserName}
			,#{contentName}
			,#{changeTableId}
			,#{changeFieldId}
			,#{beforeChange}
			,#{afterChange}
			,now()
			,#{createId}
			,#{createName}
		   )
	    ]]>	
	</insert>
	
	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="cn.htd.storecenter.dto.ShopModifyDetailDTO">
		<![CDATA[
		update shop_modify_detail set
   			shop_id = #{shopId}
   			,applicant_user_id = #{applicantUserId}
   			,applicant_user_name = #{applicantUserName}
   			,content_name = #{contentName}
   			,change_table_id = #{changeTableId}
   			,change_field_id = #{changeFieldId}
   			,before_change = #{beforeChange}
   			,after_change = #{afterChange}
   			,create_time = #{createTime}
   			,create_id = #{createId}
   			,create_name = #{createName}
		 where id = #{id}
		]]>
	</update>
	
	<delete id="delete" parameterType="long">
		<![CDATA[
		delete from shop_modify_detail where id = #{id}
		]]>
	</delete>

	<select id="selectByIds" resultMap="shopModifyDetailMap" parameterType="long">
		select * from shop_modify_detail shop_modify_detail_
		where shop_modify_detail_.shop_id in
		<if test="shopIds != null ">
			<foreach collection="shopIds" item="item" index="index"  open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</select>
</mapper>