<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.htd.storecenter.dao.ShopBrandDAO">
	
	<!-- =========================================================== -->
    <!-- 定义resultMap                                                                                                                                                                             -->
    <!-- =========================================================== -->
	<resultMap id="shopBrandMap" type="cn.htd.storecenter.dto.ShopBrandDTO">
				<result property="id" column="id"/>
				<result property="shopId" column="shop_id"/>
				<result property="brandId" column="brand_id"/>
				<result property="status" column="status"/>
				<result property="createTime" column="create_time"/>
				<result property="modifyTime" column="modify_time"/>
				<result property="sellerId" column="seller_id"/>
				<result property="categoryId" column="category_id"/>
				<result property="passTime" column="pass_time"/>
				<result property="createId" column="create_id"/>
				<result property="createName" column="create_name"/>
				<result property="modifyId" column="modify_id"/>
				<result property="modifyName" column="modify_name"/>
	</resultMap>
	
	<!-- =========================================================== -->
    <!-- 一些公共变量设置                                                                                                                                                                             -->
    <!-- =========================================================== -->
	<!-- mysql 分页 -->
	<sql id="pagination_tail">
	  limit #{page.pageOffset} , #{page.rows}
	</sql>
	<!-- mysql 查询总数 -->
	<sql id="count_Tail">
		select count(1) from 
	</sql>
	
	<sql id="selectAllColumns">
		<![CDATA[
		select
 			shop_category_brand_.id
 			,shop_category_brand_.shop_id
 			,shop_category_brand_.brand_id
 			,shop_category_brand_.status
 			,shop_category_brand_.create_time
 			,shop_category_brand_.modify_time
 			,shop_category_brand_.pass_time
 			,shop_category_brand_.seller_id
 			,shop_category_brand_.category_id
 			,shop_category_brand_.create_id
 			,shop_category_brand_.create_name
 			,shop_category_brand_.modify_id
 			,shop_category_brand_.modify_name
		FROM 
		shop_category_brand shop_category_brand_,shop_info shop_info_
		]]>
	</sql>
	<sql id="selectAllColumnsAll">
		<![CDATA[
		select
 			shop_category_brand_.id
 			,shop_category_brand_.shop_id
 			,shop_category_brand_.brand_id
 			,shop_category_brand_.status
 			,shop_category_brand_.create_time
 			,shop_category_brand_.modify_time
 			,shop_category_brand_.pass_time
 			,shop_category_brand_.seller_id
 			,shop_category_brand_.category_id
 			,shop_category_brand_.create_id
 			,shop_category_brand_.create_name
 			,shop_category_brand_.modify_id
 			,shop_category_brand_.modify_name
		FROM 
		shop_category_brand shop_category_brand_
		]]>
	</sql>
	
	<sql id="where_fragement">
		where shop_info_.shop_id=shop_category_brand_.shop_id and  shop_info_.status='2' and shop_category_brand_.status != '5'
		<if test="entity!=null">
			<if test="entity.id != null  and entity.id !=''">
				<![CDATA[ and shop_category_brand_.id  = #{entity.id} ]]>
			</if>
			<if test="entity.shopIds != null ">
				<![CDATA[ and shop_category_brand_.shop_id in ]]>
				<foreach collection="entity.shopIds" item="item" index="index"  open="(" separator="," close=")">
				<![CDATA[ #{item} ]]>
				</foreach>
			</if>
			<if test="entity.shopId != null  and entity.shopId !=''">
				<![CDATA[ and shop_category_brand_.shop_id  = #{entity.shopId} ]]>
			</if>
			<if test="entity.brandId != null  and entity.brandId !=''">
				<![CDATA[ and shop_category_brand_.brand_id  = #{entity.brandId} ]]>
			</if>
			<if test="entity.status != null  and entity.status !=''">
				<![CDATA[ and shop_category_brand_.status  = #{entity.status} ]]>
			</if>
			<if test="entity.createTime != null  and entity.createTime !=''">
				<![CDATA[ and shop_category_brand_.create_time  = #{entity.createTime} ]]>
			</if>
			<if test="entity.modifyTime != null  and entity.modifyTime !=''">
				<![CDATA[ and shop_category_brand_.modify_time  = #{entity.modifyTime} ]]>
			</if>
			<if test="entity.passTime != null  and entity.passTime !=''">
				<![CDATA[ and shop_category_brand_.pass_time  = #{entity.passTime} ]]>
			</if>
			<if test="entity.sellerId != null  and entity.sellerId !=''">
				<![CDATA[ and shop_category_brand_.seller_id  = #{entity.sellerId} ]]>
			</if>
			<if test="entity.categoryId != null  and entity.categoryId !=''">
				<![CDATA[ and shop_category_brand_.category_id  = #{entity.categoryId} ]]>
			</if>
			<if test="entity.createId != null  and entity.createId !=''">
				<![CDATA[ and shop_category_brand_.create_id  = #{entity.createId} ]]>
			</if>
			<if test="entity.createName != null  and entity.createName !=''">
				<![CDATA[ and shop_category_brand_.create_name  = #{entity.createName} ]]>
			</if>
			<if test="entity.modifyId != null  and entity.modifyId !=''">
				<![CDATA[ and shop_category_brand_.modify_id  = #{entity.modifyId} ]]>
			</if>
			<if test="entity.modifyName != null  and entity.modifyName !=''">
				<![CDATA[ and shop_category_brand_.modify_name  = #{entity.modifyName} ]]>
			</if>
		</if>
	</sql>
	<sql id="where_fragementAll">
		where 1=1
		<if test="entity!=null">
			<if test="entity.id != null  and entity.id !=''">
				<![CDATA[ and shop_category_brand_.id  = #{entity.id} ]]>
			</if>
			<if test="entity.shopIds != null ">
				<![CDATA[ and shop_category_brand_.shop_id in ]]>
				<foreach collection="entity.shopIds" item="item" index="index"  open="(" separator="," close=")">
				<![CDATA[ #{item} ]]>
				</foreach>
			</if>
			<if test="entity.shopId != null  and entity.shopId !=''">
				<![CDATA[ and shop_category_brand_.shop_id  = #{entity.shopId} ]]>
			</if>
			<if test="entity.brandId != null  and entity.brandId !=''">
				<![CDATA[ and shop_category_brand_.brand_id  = #{entity.brandId} ]]>
			</if>
			<if test="entity.status != null  and entity.status !=''">
				<![CDATA[ and shop_category_brand_.status  = #{entity.status} ]]>
			</if>
			<if test="entity.createTime != null  and entity.createTime !=''">
				<![CDATA[ and shop_category_brand_.create_time  = #{entity.createTime} ]]>
			</if>
			<if test="entity.modifyTime != null  and entity.modifyTime !=''">
				<![CDATA[ and shop_category_brand_.modify_time  = #{entity.modifyTime} ]]>
			</if>
			<if test="entity.passTime != null  and entity.passTime !=''">
				<![CDATA[ and shop_category_brand_.pass_time  = #{entity.passTime} ]]>
			</if>
			<if test="entity.sellerId != null  and entity.sellerId !=''">
				<![CDATA[ and shop_category_brand_.seller_id  = #{entity.sellerId} ]]>
			</if>
			<if test="entity.categoryId != null  and entity.categoryId !=''">
				<![CDATA[ and shop_category_brand_.category_id  = #{entity.categoryId} ]]>
			</if>
			<if test="entity.createId != null  and entity.createId !=''">
				<![CDATA[ and shop_category_brand_.create_id  = #{entity.createId} ]]>
			</if>
			<if test="entity.createName != null  and entity.createName !=''">
				<![CDATA[ and shop_category_brand_.create_name  = #{entity.createName} ]]>
			</if>
			<if test="entity.modifyId != null  and entity.modifyId !=''">
				<![CDATA[ and shop_category_brand_.modify_id  = #{entity.modifyId} ]]>
			</if>
			<if test="entity.modifyName != null  and entity.modifyName !=''">
				<![CDATA[ and shop_category_brand_.modify_name  = #{entity.modifyName} ]]>
			</if>
		    <if test="entity.brandIdList != null and entity.brandIdList.size != 0 ">
               <![CDATA[ and shop_category_brand_.brand_id in]]>
		        <foreach collection="entity.brandIdList" index="index" item="brandId" open="(" separator="," close=")">
		          #{brandId}
		        </foreach>
             </if>
		    <if test="entity.categoryIdList != null and entity.categoryIdList.size != 0 ">
               <![CDATA[ and shop_category_brand_.category_id in]]>
		        <foreach collection="entity.categoryIdList" index="index" item="categoryId" open="(" separator="," close=")">
		          #{categoryId}
		        </foreach>
             </if>
		</if>
		and shop_category_brand_.status != '5'
		<if test="entity.orderByType == null or entity.orderByType == ''">
			<![CDATA[ ORDER BY shop_category_brand_.modify_time desc ]]>
		</if>
		<if test="entity.orderByType == 1 ">
			<![CDATA[ ORDER BY shop_category_brand_.brand_id desc ]]>
		</if>
	</sql>

	<sql id="groupBy">
		<![CDATA[ GROUP BY shop_category_brand_.shop_id ]]>
	</sql>
	<!-- =========================================================== -->
    <!-- DAO方法中的基本增删改查方法                                                                                                                                                           -->
    <!-- =========================================================== -->
   <!-- 根据id查询 -->
	<select id="queryById" resultMap="shopBrandMap" parameterType="long">
		<include refid="selectAllColumns" />
		<![CDATA[
		where shop_info_.shop_id=shop_category_brand_.shop_id and   shop_info_.status='2' and shop_category_brand_.id = #{id}
		]]>
	</select>
			<!-- 根据shopid查询 -->
	<select id="selectByShopId" resultMap="shopBrandMap" parameterType="long">
		<include refid="selectAllColumns" />
		<![CDATA[
		where shop_info_.shop_id=shop_category_brand_.shop_id and shop_info_.status='2'and shop_category_brand_.shop_id = #{shopId} and shop_category_brand_.status=#{status}
		]]>
	</select>
	
	<!-- 分页查询所有 -->
	<select id="selectListByConditionAll" resultMap="shopBrandMap" >
		<include refid="selectAllColumnsAll"/>
		<include refid="where_fragementAll" />
		<if test="page!=null">
			<include refid="pagination_tail" />
		</if>
	</select>

	<select id="selectCountByConditionAll" resultType="long">
		<include refid="count_Tail" />
		  shop_category_brand shop_category_brand_
		<include refid="where_fragementAll" />
	</select>
	
	
	<!-- 分页查询 -->
	<select id="selectListByCondition" resultMap="shopBrandMap" >
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
		<if test="entity.isGroupBy!=null and entity.isGroupBy!=''">
			<include refid="groupBy"></include>
		</if>
		<if test="page!=null">
			<include refid="pagination_tail" />
		</if>
	</select>

	
	<select id="selectCountByCondition" resultType="long">
		<include refid="count_Tail" />
		 ( SELECT shop_category_brand_.shop_id FROM shop_category_brand shop_category_brand_,shop_info shop_info_
		<include refid="where_fragement" />
		<if test="entity.isGroupBy!=null and entity.isGroupBy!=''">
			<include refid="groupBy"></include>
		</if>
		) aa
	</select>
	
	<!-- 插入记录 -->
	<insert id="insert" parameterType="cn.htd.storecenter.dto.ShopBrandDTO">
		<![CDATA[
		insert into shop_category_brand (
		    	 shop_id
		    	 ,brand_id
		    	 ,status
		    	 ,pass_time
		    	 ,create_time
		    	 ,modify_time
		    	 ,seller_id
		    	 ,category_id
		    	 ,create_id
		    	 ,create_name
		    	 ,modify_id
		    	 ,modify_name
		   )values(
		         #{shopId}
		    	,#{brandId}
		    	,#{status}
		    	,now()
		    	,now()
		    	,now()
		    	,#{sellerId}
		    	,#{categoryId}
		    	,#{createId}
		    	,#{createName}
		    	,#{modifyId}
		    	,#{modifyName}
		   )
		  ON DUPLICATE KEY UPDATE
    	  create_time = now(),
    	  modify_time = now()
	    ]]>	
	</insert>
	
	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="cn.htd.storecenter.dto.ShopBrandDTO">

		update shop_category_brand set
			modify_time = now()
			<if test="shopId !=null " > ,shop_id = #{shopId} </if>
			<if test="brandId !=null " > ,brand_id = #{brandId} </if>
			<if test="status !=null and status != ''" > ,status = #{status} </if>
			<if test="passTime !=null " > ,pass_time = #{passTime} </if>
			<if test="sellerId !=null " > ,seller_id = #{sellerId} </if>
			<if test="categoryId !=null " > ,category_id = #{categoryId} </if>
			<if test="createId !=null " > ,create_id = #{createId} </if>
			<if test="createName !=null and createName !=''" > ,create_name = #{createName} </if>
			<if test="modifyId !=null " > ,modify_id = #{modifyId} </if>
			<if test="modifyName !=null and modifyName !=''" > ,modify_name = #{modifyName} </if>
		where id = #{id}
	</update>

	<update id="modifyShopCategoryStatus" parameterType="cn.htd.storecenter.dto.ShopBrandDTO">
		<![CDATA[
		update shop_category_brand set
   			status = #{status}
   			,modify_time =now()
   			,modify_id = #{modifyId}
   			,modify_name = #{modifyName}
		where id = #{id}
		]]>
	</update>
	
	
	<delete id="delete" parameterType="long">
		<![CDATA[
		delete from shop_category_brand where id = #{id}
		]]>
	</delete>

	<delete id="deleteByShopId" parameterType="long">
		<![CDATA[
		delete from shop_category_brand where shop_id = #{id}
		]]>
	</delete>

	<select id="selectBrandIdById" resultMap="shopBrandMap" parameterType="long">
		<include refid="selectAllColumns" />
		<![CDATA[
		where id = #{id}
		]]>
	</select>
	<update id="updateStatusByIdAndBrandId" parameterType="cn.htd.storecenter.dto.ShopBrandDTO">
		<![CDATA[
		update shop_category_brand set
			status = '5'
			,modify_time = now()
			,modify_id = #{modifyId}
			,modify_name = #{modifyName}
		 where brand_id = #{brandId} and status ='3'
		]]>
	</update>
</mapper>