<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.marketcenter.dao.B2cCouponInfoSyncHistoryDAO">
  <resultMap id="BaseResultMap" type="cn.htd.marketcenter.dmo.B2cCouponInfoSyncDMO">
    <id column="id" property="id" jdbcType="BIGINT"/>
    <result column="b2c_activity_code" property="b2cActivityCode" jdbcType="VARCHAR"/>
    <result column="coupon_name" property="couponName" jdbcType="VARCHAR"/>
    <result column="coupon_describe" property="couponDescribe" jdbcType="VARCHAR"/>
    <result column="coupon_type" property="couponType" jdbcType="VARCHAR"/>
    <result column="coupon_provide_type" property="couponProvideType" jdbcType="VARCHAR"/>
    <result column="coupon_start_time" property="couponStartTime" jdbcType="TIMESTAMP"/>
    <result column="coupon_end_time" property="couponEndTime" jdbcType="TIMESTAMP"/>
    <result column="discount_threshold" property="discountThreshold" jdbcType="DECIMAL"/>
    <result column="discount_percent" property="discountPercent" jdbcType="INTEGER"/>
    <result column="deal_flag" property="dealFlag" jdbcType="TINYINT"/>
    <result column="deal_fail_reason" property="dealFailReason" jdbcType="VARCHAR"/>
    <result column="create_id" property="createId" jdbcType="BIGINT"/>
    <result column="create_name" property="createName" jdbcType="VARCHAR"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="modify_id" property="modifyId" jdbcType="BIGINT"/>
    <result column="modify_name" property="modifyName" jdbcType="VARCHAR"/>
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, b2c_activity_code, coupon_name, coupon_describe, coupon_type, coupon_provide_type, 
    coupon_start_time, coupon_end_time, discount_threshold, discount_percent, deal_flag,
    deal_fail_reason, create_id, create_name, create_time, modify_id, modify_name, modify_time
  </sql>
  <select id="queryB2cCouponInfoSyncHistory" resultMap="BaseResultMap"
          parameterType="cn.htd.marketcenter.dmo.B2cCouponInfoSyncDMO">
    select
    <include refid="Base_Column_List"/>
    from b2c_coupon_info_sync_history
    where 1=1
    and b2c_activity_code = #{b2cActivityCode}
    order by id desc
    limit 1
  </select>
  <insert id="saveB2cCouponInfoSyncHistory" parameterType="cn.htd.marketcenter.dmo.B2cCouponInfoSyncDMO"
          useGeneratedKeys="true" keyProperty="id">
    insert into b2c_coupon_info_sync_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="b2cActivityCode != null">
        b2c_activity_code,
      </if>
      <if test="couponName != null">
        coupon_name,
      </if>
      <if test="couponDescribe != null">
        coupon_describe,
      </if>
      <if test="couponType != null">
        coupon_type,
      </if>
      <if test="couponProvideType != null">
        coupon_provide_type,
      </if>
      <if test="couponStartTime != null">
        coupon_start_time,
      </if>
      <if test="couponEndTime != null">
        coupon_end_time,
      </if>
      <if test="discountThreshold != null">
        discount_threshold,
      </if>
      <if test="discountPercent != null">
        discount_percent,
      </if>
      deal_flag,
      <if test="dealFailReason != null and dealFailReason != ''">
        deal_fail_reason,
      </if>
      create_id,
      create_name,
      create_time,
      modify_id,
      modify_name,
      modify_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="b2cActivityCode != null">
        #{b2cActivityCode,jdbcType=VARCHAR},
      </if>
      <if test="couponName != null">
        #{couponName,jdbcType=VARCHAR},
      </if>
      <if test="couponDescribe != null">
        #{couponDescribe,jdbcType=VARCHAR},
      </if>
      <if test="couponType != null">
        #{couponType,jdbcType=VARCHAR},
      </if>
      <if test="couponProvideType != null">
        #{couponProvideType,jdbcType=VARCHAR},
      </if>
      <if test="couponStartTime != null">
        #{couponStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="couponEndTime != null">
        #{couponEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="discountThreshold != null">
        #{discountThreshold,jdbcType=DECIMAL},
      </if>
      <if test="discountPercent != null">
        #{discountPercent,jdbcType=INTEGER},
      </if>
      0,
      <if test="dealFailReason != null and dealFailReason != ''">
        #{dealFailReason,jdbcType=VARCHAR},
      </if>
      #{createId,jdbcType=BIGINT},
      #{createName,jdbcType=VARCHAR},
      now(),
      #{createId,jdbcType=BIGINT},
      #{createName,jdbcType=VARCHAR},
      now(),
    </trim>
  </insert>
  <select id="queryLastestB2cCouponInfoByB2cActivityCode" resultMap="BaseResultMap"
          parameterType="cn.htd.marketcenter.dmo.B2cCouponInfoSyncDMO">
    select
    <include refid="Base_Column_List"/>
    from b2c_coupon_info_sync_history
    where b2c_activity_code = #{b2cActivityCode,jdbcType=VARCHAR}
    and deal_flag = #{dealFlag,jdbcType=TINYINT}
    order by id desc
    limit 1
  </select>
</mapper>