<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.marketcenter.dao.B2cCouponUseLogSyncHistoryDAO" >
  <resultMap id="BaseResultMap" type="cn.htd.marketcenter.dmo.B2cCouponUseLogSyncDMO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="b2c_activity_code" property="b2cActivityCode" jdbcType="VARCHAR" />
    <result column="b2c_buyer_code" property="b2cBuyerCode" jdbcType="VARCHAR" />
    <result column="b2c_seller_code" property="b2cSellerCode" jdbcType="VARCHAR" />
    <result column="b2c_order_no" property="b2cOrderNo" jdbcType="VARCHAR" />
    <result column="b2c_buyer_coupon_code" property="b2cBuyerCouponCode" jdbcType="VARCHAR" />
    <result column="b2c_coupon_used_amount" property="b2cCouponUsedAmount" jdbcType="DECIMAL" />
    <result column="use_type" property="useType" jdbcType="VARCHAR" />
    <result column="deal_flag" property="dealFlag" jdbcType="TINYINT" />
    <result column="deal_fail_reason" property="dealFailReason" jdbcType="VARCHAR"/>
    <result column="create_id" property="createId" jdbcType="BIGINT"/>
    <result column="create_name" property="createName" jdbcType="VARCHAR"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="modify_id" property="modifyId" jdbcType="BIGINT"/>
    <result column="modify_name" property="modifyName" jdbcType="VARCHAR"/>
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, b2c_activity_code, b2c_buyer_code, b2c_seller_code, b2c_order_no, b2c_buyer_coupon_code, 
    b2c_coupon_used_amount, use_type, deal_flag, deal_fail_reason, create_id, create_name, create_time,
    modify_id, modify_name, modify_time
  </sql>
  
  <insert id="saveB2cCouponUseLogSyncHistory" parameterType="cn.htd.marketcenter.dmo.B2cCouponUseLogSyncDMO" >
    insert into b2c_coupon_use_log_sync_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="b2cActivityCode != null" >
        b2c_activity_code,
      </if>
      <if test="b2cBuyerCode != null" >
        b2c_buyer_code,
      </if>
      <if test="b2cSellerCode != null" >
        b2c_seller_code,
      </if>
      <if test="b2cOrderNo != null" >
        b2c_order_no,
      </if>
      <if test="b2cBuyerCouponCode != null" >
        b2c_buyer_coupon_code,
      </if>
      <if test="b2cCouponUsedAmount != null" >
        b2c_coupon_used_amount,
      </if>
      <if test="useType != null" >
        use_type,
      </if>
      deal_flag,
      <if test="dealFailReason != null and dealFailReason != ''">
        deal_fail_reason,
      </if>
      create_id,
      create_name,
      create_time,
      modify_id,
      modify_name,
      modify_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="b2cActivityCode != null" >
        #{b2cActivityCode,jdbcType=VARCHAR},
      </if>
      <if test="b2cBuyerCode != null" >
        #{b2cBuyerCode,jdbcType=VARCHAR},
      </if>
      <if test="b2cSellerCode != null" >
        #{b2cSellerCode,jdbcType=VARCHAR},
      </if>
      <if test="b2cOrderNo != null" >
        #{b2cOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="b2cBuyerCouponCode != null" >
        #{b2cBuyerCouponCode,jdbcType=VARCHAR},
      </if>
      <if test="b2cCouponUsedAmount != null" >
        #{b2cCouponUsedAmount,jdbcType=DECIMAL},
      </if>
      <if test="useType != null" >
        #{useType,jdbcType=VARCHAR},
      </if>
      0,
      <if test="dealFailReason != null and dealFailReason != ''">
        #{dealFailReason,jdbcType=VARCHAR},
      </if>
      #{createId,jdbcType=BIGINT},
      #{createName,jdbcType=VARCHAR},
      now(),
      #{createId,jdbcType=BIGINT},
      #{createName,jdbcType=VARCHAR},
      now(),
    </trim>
  </insert>
  <select id="queryB2cCouponUseLogSyncHistoryList" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT
		    b2c_order_no,
		    b2c_buyer_coupon_code,
		    b2c_activity_code,
		    b2c_seller_code,
		    b2c_coupon_used_amount,
		    use_type
		FROM
			b2c_coupon_use_log_sync_history
		where 1=1
		AND mod(id,#{taskQueueNum})in
		<foreach collection="taskIdList" index="index" item="taskId" open="(" separator="," close=")"> 
            #{taskId} 
        </foreach> 
		AND deal_flag=0
		limit #{startLine},#{endLine}
  </select>
  <select id="queryB2cCouponUseLogSyncHistoryUseCouponCount" parameterType="cn.htd.marketcenter.dmo.B2cCouponUseLogSyncDMO" 
          resultType="java.lang.Long">
  		SELECT count(1)
  		FROM
  		b2c_coupon_use_log_sync_history
  		where 1=1
  		AND use_type in('1','2')
		AND b2c_order_no = #{b2cOrderNo}
		AND b2c_buyer_coupon_code = #{b2cBuyerCouponCode}
  </select>
  <update id="updateB2cCouponUseLogSyncHistory" parameterType="cn.htd.marketcenter.dmo.B2cCouponUseLogSyncDMO">
  	update b2c_coupon_use_log_sync_history
  	<set>
	  	deal_flag = 2,
	  	modify_id = #{modifyId},
		modify_name = #{modifyName},
	  	modify_time = now(),
	  	deal_fail_reason = #{dealFailReason},
  	</set>
  	where 1 = 1
  	and b2c_order_no = #{b2cOrderNo}
  	and b2c_buyer_coupon_code = #{b2cBuyerCouponCode}
  </update>
</mapper>