<?xml version="1.1" encoding="UTF-8"?>
<configuration>
	<!--
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date|%thread|%X{invokeNo}|%level|%logger{0}|%msg%n</pattern>
		</encoder>
	</appender>
	-->
	<appender name="rollinginfoFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${loggingRoot}/${server.name}/${server.name}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${loggingRoot}/${server.name}/${server.name}.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date|%thread|%X{invokeNo}|%level|%logger{0}|%msg%n</pattern>
		</encoder>
		 
	</appender>
	
	<logger name="cn.htd" level="${loggingLevel}">
		<appender-ref ref="rollinginfoFile" />
	</logger>
	
	<!--log4jdbc -->
	<logger name="jdbc.sqltiming" level="${loggingLevel}">
		<appender-ref ref="rollinginfoFile" />
	</logger>
	
	<root level="${loggingLevel}">
		<appender-ref ref="rollinginfoFile" />
	</root>
</configuration>