<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.htd.searchcenter.dao.ShopInfoDAO">
	<!-- =========================================================== -->
	<!-- 定义resultMap -->
	<!-- =========================================================== -->
	<resultMap id="resultMap" type="cn.htd.searchcenter.domain.ShopDTO">
		<result property="shopId" column="shop_id" jdbcType="BIGINT" />
		<result property="shopName" column="shop_name" jdbcType="VARCHAR" />
		<result property="sellerId" column="seller_id" jdbcType="BIGINT" />
		<result property="sellerName" column="company_name" jdbcType="VARCHAR" />
		<result property="sellerType" column="seller_type" jdbcType="VARCHAR" />
		<result property="status" column="status" jdbcType="BIGINT" />
		<result property="shopUrl" column="shop_url" jdbcType="VARCHAR" />
		<result property="logoUrl" column="logo_url" jdbcType="VARCHAR" />
		<result property="cidName" column="c_name" jdbcType="VARCHAR" />
		<result property="locationProvince" column="location_province"
			jdbcType="VARCHAR" />
		<result property="locationCity" column="location_city"
			jdbcType="VARCHAR" />
		<result property="keyword" column="keyword" jdbcType="VARCHAR" />
		<result property="introduce" column="introduce" jdbcType="VARCHAR" />
		<result property="shopType" column="shop_type" jdbcType="BIGINT" />
		<result property="businessType" column="business_type"
			jdbcType="BIGINT" />
		<result property="disclaimer" column="disclaimer" jdbcType="VARCHAR" />
		<result property="passTime" column="pass_time" jdbcType="DATE" />
		<result property="endTime" column="end_time" jdbcType="DATE" />
		<result property="createId" column="create_id" jdbcType="BIGINT" />
		<result property="createName" column="create_name" jdbcType="VARCHAR" />
		<result property="createTime" column="create_time" jdbcType="DATE" />
		<result property="modifyId" column="modify_id" jdbcType="BIGINT" />
		<result property="modifyName" column="modify_name" jdbcType="VARCHAR" />
		<result property="modifyTime" column="modify_time" jdbcType="DATE" />
	</resultMap>
	<!-- =========================================================== -->
	<!-- 一些公共变量设置 -->
	<!-- =========================================================== -->
	<!-- mysql 分页 -->
	<sql id="pagination_tail">
		limit #{page.pageOffset} , #{page.rows}
	</sql>

	<sql id="columns">
		s.shop_id,s.shop_name,s.seller_id,s.status,s.shop_url,s.logo_url,s.keyword,s.introduce,s.shop_type,s.business_type,
		s.disclaimer,s.pass_time,s.end_time,s.create_id,s.create_name,s.create_time,s.modify_id,s.modify_name,s.modify_time
	</sql>


	<!-- 根据type查询 -->
	<select id="queryShopInfoBySyncTime" resultMap="resultMap">
		select
		<include refid="columns" />
		from shop_info as s
		<![CDATA[ 
		left join shop_platform_category as sc on sc.shop_id = s.shop_id and sc.category_level = 3 
		where s.modify_time >= #{syncTime}
		group by s.shop_id
 		limit #{start},#{end}
		]]>
	</select>

	<select id="queryShopInfoCountBySyncTime" resultType="java.lang.Integer">
		select
		count(1)
		from (select
		<include refid="columns" />
		from shop_info as s
		<![CDATA[ 
		left join shop_platform_category as sc on sc.shop_id = s.shop_id and sc.category_level = 3 
		where s.modify_time >= #{syncTime}
		group by s.shop_id) as st
 		]]>
	</select>

	<select id="getAreaName" resultType="java.lang.String">
		select name from
		base_address
		where code = #{code}
	</select>

	<select id="getCidNames" resultType="java.lang.String">
		select
		REPLACE(group_concat(c_name),',',';') from item_category where cid in
		(#{cids})
	</select>

	<select id="queryShopStatusByShopId" resultType="java.lang.Integer">
		SELECT COUNT(1)
		FROM shop_info
		WHERE status = 2 AND shop_id = #{shopId}
	</select>

	<select id="queryCidNameAndCidByShopId" resultType="java.lang.String">
		SELECT group_concat(scs.cname,":",scs.cid)
		FROM shop_category_seller as scs
		WHERE scs.lev = 2 AND scs.delete_flag = 0
		AND scs.home_show = 1 AND scs.shop_id = #{shopId}
	</select>

	<select id="queryShopQQByShopId" resultType="java.lang.String">
		SELECT
		customer_QQ_number
		FROM qq_customer
		WHERE shop_id = #{shopId}
		limit 0,1
	</select>
</mapper>