<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.zeus.tc.biz.dao.TradeOrderVipDownInfoDMOMapper" >
  <resultMap id="BaseResultMap" type="cn.htd.zeus.tc.biz.dmo.TradeOrderVipDownInfoDMO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="order_item_no" property="orderItemNo" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="send_count" property="sendCount" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_no, order_item_no, create_time, modify_time, send_count
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from trade_order_vip_down_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from trade_order_vip_down_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.htd.zeus.tc.biz.dmo.TradeOrderVipDownInfoDMO" >
    insert into trade_order_vip_down_info (id, order_no, order_item_no, 
      create_time, modify_time, send_count
      )
    values (#{id,jdbcType=BIGINT}, #{orderNo,jdbcType=VARCHAR}, #{orderItemNo,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{sendCount,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.htd.zeus.tc.biz.dmo.TradeOrderVipDownInfoDMO" >
    insert into trade_order_vip_down_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="orderItemNo != null" >
        order_item_no,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="sendCount != null" >
        send_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderItemNo != null" >
        #{orderItemNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendCount != null" >
        #{sendCount,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.htd.zeus.tc.biz.dmo.TradeOrderVipDownInfoDMO" >
    update trade_order_vip_down_info
    <set >
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderItemNo != null" >
        order_item_no = #{orderItemNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendCount != null" >
        send_count = #{sendCount,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.htd.zeus.tc.biz.dmo.TradeOrderVipDownInfoDMO" >
    update trade_order_vip_down_info
    set order_no = #{orderNo,jdbcType=VARCHAR},
      order_item_no = #{orderItemNo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      send_count = #{sendCount,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>