<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.goodscenter.dao.productplus.OuterChannelCategoryMappingMapper" >
  <resultMap id="BaseResultMap" type="cn.htd.goodscenter.domain.productplus.OuterChannelCategoryMapping" >
    <id column="category_mapping_id" property="categoryMappingId" jdbcType="BIGINT" />
    <result column="channel_code" property="channelCode" jdbcType="VARCHAR" />
    <result column="outer_channel_category_code" property="outerChannelCategoryCode" jdbcType="VARCHAR" />
    <result column="outer_channel_category_name" property="outerChannelCategoryName" jdbcType="VARCHAR" />
    <result column="category_id" property="categoryId" jdbcType="BIGINT" />
    <result column="delete_flag" property="deleteFlag" jdbcType="TINYINT" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_id" property="modifyId" jdbcType="BIGINT" />
    <result column="modify_name" property="modifyName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    category_mapping_id, channel_code, outer_channel_category_code, outer_channel_category_name, 
    category_id, delete_flag, create_id, create_name, create_time, modify_id, modify_name, 
    modify_time
  </sql>
  <sql id="Where_Param_With_Mapped">
    where
    1 = 1
    <if test="entity != null">
      <if test="entity.categoryMappingId != null" >
        and category_mapping_id = #{entity.categoryMappingId}
      </if>
      <if test="entity.channelCode != null" >
        and channel_code = #{entity.channelCode}
      </if>
      <if test="entity.outerChannelCategoryCode != null" >
        and outer_channel_category_code = #{entity.outerChannelCategoryCode}
      </if>
      <if test="entity.outerChannelCategoryName != null" >
        and outer_channel_category_name like  CONCAT('%',#{entity.outerChannelCategoryName},'%')
      </if>
      <if test="isMapped == null">
        <if test="entity.categoryId != null" >
          and category_id = #{entity.categoryId}
        </if>
      </if>
      <if test="isMapped != null">
        <if test="isMapped == true" > <!-- 已映射 -->
          <if test="entity.categoryId != null" >
            and category_id = #{entity.categoryId}
          </if>
          <if test="entity.categoryId == null and entity.categoryIdParam == null" >
            and category_id != 0
          </if>
          <if test="entity.categoryId == null and entity.categoryIdParam != null" >
            and category_id in
            <foreach collection="entity.categoryIdParam" item="item" open="(" separator="," close=")">
              #{item}
            </foreach>
          </if>
        </if>
        <if test="isMapped == false" > <!-- 未映射 -->
          and category_id = 0
        </if>
      </if>
      <if test="entity.deleteFlag != null" >
        and delete_flag = #{entity.deleteFlag}
      </if>
      <if test="entity.createId != null" >
        and create_id = #{entity.createId}
      </if>
      <if test="entity.createName != null" >
        and create_name = #{entity.createName}
      </if>
      <if test="entity.createTime != null" >
        and create_time = #{entity.createTime}
      </if>
      <if test="entity.modifyId != null" >
        and modify_id = #{entity.modifyId}
      </if>
      <if test="entity.modifyName != null" >
        and modify_name = #{entity.modifyName}
      </if>
      <if test="entity.modifyTime != null" >
        and modify_time = #{entity.modifyTime}
      </if>
    </if>
  </sql>

  <sql id="Where_Param">
    where
    1 = 1
    <if test="entity != null">
      <if test="entity.categoryMappingId != null" >
        and category_mapping_id = #{entity.categoryMappingId}
      </if>
      <if test="entity.channelCode != null" >
        and channel_code = #{entity.channelCode}
      </if>
      <if test="entity.outerChannelCategoryCode != null" >
        and outer_channel_category_code = #{entity.outerChannelCategoryCode}
      </if>
      <if test="entity.outerChannelCategoryName != null" >
        and outer_channel_category_name = #{entity.outerChannelCategoryName}
      </if>
      <if test="entity.categoryId != null" >
        and category_id = #{entity.categoryId}
      </if>
      <if test="entity.deleteFlag != null" >
        and delete_flag = #{entity.deleteFlag}
      </if>
      <if test="entity.createId != null" >
        and create_id = #{entity.createId}
      </if>
      <if test="entity.createName != null" >
        and create_name = #{entity.createName}
      </if>
      <if test="entity.createTime != null" >
        and create_time = #{entity.createTime}
      </if>
      <if test="entity.modifyId != null" >
        and modify_id = #{entity.modifyId}
      </if>
      <if test="entity.modifyName != null" >
        and modify_name = #{entity.modifyName}
      </if>
      <if test="entity.modifyTime != null" >
        and modify_time = #{entity.modifyTime}
      </if>
    </if>
  </sql>

  <!-- mysql 分页尾 -->
  <sql id="pagination_tail">
    <if test="page != null ">
      limit #{page.pageOffset} , #{page.rows}
    </if>
  </sql>

  <select id="selectOuterChannelCategoryMappingList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from outer_channel_category_mapping
    <include refid="Where_Param_With_Mapped" />
    order by modify_time desc
    <include refid="pagination_tail"/>
  </select>

  <select id="selectOuterChannelCategoryMappingListCount"  resultType="java.lang.Long">
    select
    count(1)
    from outer_channel_category_mapping
    <include refid="Where_Param_With_Mapped" />
  </select>

  <select id="selectCountByOCCCodeAndChannelCode" parameterType="cn.htd.goodscenter.domain.productplus.OuterChannelCategoryMapping" resultType="Long">
    select
        count(1)
      from outer_channel_category_mapping
    where
        channel_code = #{channelCode}
      and outer_channel_category_code = #{outerChannelCategoryCode}
  </select>

  <select id="select" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from outer_channel_category_mapping
    <include refid="Where_Param" />
  </select>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from outer_channel_category_mapping
    where category_mapping_id = #{categoryMappingId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from outer_channel_category_mapping
    where category_mapping_id = #{categoryMappingId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.htd.goodscenter.domain.productplus.OuterChannelCategoryMapping"  useGeneratedKeys="true" keyProperty="categoryMappingId">
    insert into outer_channel_category_mapping (category_mapping_id, channel_code, outer_channel_category_code, 
      outer_channel_category_name, category_id, delete_flag, 
      create_id, create_name, create_time
      )
    values (#{categoryMappingId,jdbcType=BIGINT}, #{channelCode,jdbcType=VARCHAR}, #{outerChannelCategoryCode,jdbcType=VARCHAR},
      #{outerChannelCategoryName,jdbcType=VARCHAR}, #{categoryId,jdbcType=BIGINT}, #{deleteFlag,jdbcType=TINYINT}, 
      #{createId,jdbcType=BIGINT}, #{createName,jdbcType=VARCHAR}, now()
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.htd.goodscenter.domain.productplus.OuterChannelCategoryMapping">
    insert into outer_channel_category_mapping
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="categoryMappingId != null" >
        category_mapping_id,
      </if>
      <if test="channelCode != null" >
        channel_code,
      </if>
      <if test="outerChannelCategoryCode != null" >
        outer_channel_category_code,
      </if>
      <if test="outerChannelCategoryName != null" >
        outer_channel_category_name,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createName != null" >
        create_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyId != null" >
        modify_id,
      </if>
      <if test="modifyName != null" >
        modify_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="categoryMappingId != null" >
        #{categoryMappingId,jdbcType=BIGINT},
      </if>
      <if test="channelCode != null" >
        #{channelCode,jdbcType=VARCHAR},
      </if>
      <if test="outerChannelCategoryCode != null" >
        #{outerChannelCategoryCode,jdbcType=VARCHAR},
      </if>
      <if test="outerChannelCategoryName != null" >
        #{outerChannelCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="createName != null" >
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyId != null" >
        #{modifyId,jdbcType=BIGINT},
      </if>
      <if test="modifyName != null" >
        #{modifyName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.htd.goodscenter.domain.productplus.OuterChannelCategoryMapping" >
    update outer_channel_category_mapping
    <set >
      <if test="channelCode != null" >
        channel_code = #{channelCode,jdbcType=VARCHAR},
      </if>
      <if test="outerChannelCategoryCode != null" >
        outer_channel_category_code = #{outerChannelCategoryCode,jdbcType=VARCHAR},
      </if>
      <if test="outerChannelCategoryName != null" >
        outer_channel_category_name = #{outerChannelCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="createName != null" >
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyId != null" >
        modify_id = #{modifyId,jdbcType=BIGINT},
      </if>
      <if test="modifyName != null" >
        modify_name = #{modifyName,jdbcType=VARCHAR},
      </if>
        modify_time = now()
    </set>
    where category_mapping_id = #{categoryMappingId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.htd.goodscenter.domain.productplus.OuterChannelCategoryMapping" >
    update outer_channel_category_mapping
    set channel_code = #{channelCode,jdbcType=VARCHAR},
      outer_channel_category_code = #{outerChannelCategoryCode,jdbcType=VARCHAR},
      outer_channel_category_name = #{outerChannelCategoryName,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=BIGINT},
      delete_flag = #{deleteFlag,jdbcType=TINYINT},
      create_id = #{createId,jdbcType=BIGINT},
      create_name = #{createName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_id = #{modifyId,jdbcType=BIGINT},
      modify_name = #{modifyName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where category_mapping_id = #{categoryMappingId,jdbcType=BIGINT}
  </update>

  <update id="updateByOuterCategoryCodeSelective" parameterType="cn.htd.goodscenter.domain.productplus.OuterChannelCategoryMapping">
    update outer_channel_category_mapping
        <set >
      <if test="outerChannelCategoryName != null" >
        outer_channel_category_name = #{outerChannelCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="modifyId != null" >
        modify_id = #{modifyId,jdbcType=BIGINT},
      </if>
      <if test="modifyName != null" >
        modify_name = #{modifyName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP}
      </if>
    </set>
    where
        channel_code = #{channelCode,jdbcType=VARCHAR}
    AND outer_channel_category_code = #{outerChannelCategoryCode,jdbcType=VARCHAR}
  </update>
</mapper>