<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.htd.goodscenter.dao.ItemCategoryDAO">
	<resultMap id="itemCategoryMapper" type="cn.htd.goodscenter.domain.ItemCategory">
			<result property="cid" column="cid" />
			<result property="parentCid" column="parent_cid" />
			<result property="cName" column="c_name" />
			<result property="status" column="status" />
			<result property="lev" column="lev" />
			<result property="hasLeaf" column="has_leaf" />
			<result property="sortNumber" column="sort_number" />
			<result property="homeShow" column="home_show" />
			<result property="categoryPicUrl" column="category_pic_url" />
		    <result property="createId" column="create_id"/>
			<result property="createName" column="create_name" />
			<result property="createTime" column="create_time" />
			<result property="modifyId" column="modify_id"/>
			<result property="modifyName" column="modify_name" />
			<result property="modifyTime" column="modify_time" />
	</resultMap>
	
	<!--返回ItemCategoryDTO类型 -->
	<resultMap id="itemCategoryDTOMapper" type="cn.htd.goodscenter.dto.ItemCategoryDTO">
			<result property="categoryCid" column="cid" />
			<result property="categoryParentCid" column="parent_cid" />
			<result property="categoryCName" column="c_name" />
			<result property="categoryStatus" column="status" />
			<result property="categoryLev" column="lev" />
			<result property="categoryHasLeaf" column="has_leaf" />
			<result property="categorySortNumber" column="sort_number" />
			<result property="categoryHomeShow" column="home_show" />
			<result property="categoryPicUrl" column="category_pic_url" />
			<result property="categoryCreateId" column="create_id"/>
			<result property="categoryCreateName" column="create_name" />
			<result property="categoryCreateTime" column="create_time" />
			<result property="categoryModifyId" column="modify_id"/>
			<result property="categoryModifyName" column="modify_name" />
			<result property="categoryModifyTime" column="modify_time" />
	</resultMap>
	
	<resultMap id="itemCategoryCascadeMapper" type="cn.htd.goodscenter.domain.ItemCategoryCascade">
			<result property="cid" column="first_id" />
			<result property="cname" column="first_name" />
			<result property="secondCatId" column="second_id" />
			<result property="secondCatName" column="second_name" />
			<result property="thirdCatId" column="third_id" />
			<result property="thirdCatName" column="third_name" />
			
	</resultMap>
	
	<resultMap id="itemAttrMap" type="cn.htd.goodscenter.dto.ItemAttrDTO">
				<result property="id" column="id"/>
				<result property="name" column="name"/>
	</resultMap>
	
	<resultMap id="itemAttrValueMap" type="cn.htd.goodscenter.dto.ItemAttrValueDTO">
				<result property="id" column="id"/>
				<result property="name" column="name"/>
	</resultMap>
	
	<sql id="selectAllColumns">
		<![CDATA[
		select
			cid,
			parent_cid,
			c_name,
			status,
			lev,
			has_leaf,
			sort_number,
			home_show,
			category_pic_url,
			create_id,
			create_name,
			create_time,
			modify_id,
			modify_name,
			modify_time
		from 
			item_category item_category_
		]]>
	</sql>
	<sql id="where_fragement">
		where 1=1
		and status = 1
		<if test="entity != null">
			<if test="entity.cid != null and entity.cid != ''">
			and cid = #{entity.cid}
			</if>
			<if test="entity.parentCid != null and entity.parentCid != ''">
			and parent_cid = #{entity.parentCid}
			</if>
			<if test="entity.cName != null and entity.cName != ''">
			and c_name = #{entity.cName}
			</if>
			<if test="entity.status != null and entity.status != ''">
			and status = #{entity.status}
			</if>
			<if test="entity.lev != null and entity.lev != ''">
			and lev = #{entity.lev}
			</if>
			<if test="entity.hasLeaf != null and entity.hasLeaf != ''">
			and has_leaf = #{entity.hasLeaf}
			</if>
			<if test="entity.sortNumber != null and entity.sortNumber != ''">
			and sort_number = #{entity.sortNumber}
			</if>
			<if test="entity.homeShow != null and entity.homeShow != ''">
			and home_show = #{entity.homeShow}
			</if>
			<if test="entity.createId != null and entity.createId != ''">
			and create_id = #{entity.createId}
			</if>
			<if test="entity.modifyId != null and entity.modifyId != ''">
			and modify_id = #{entity.modifyId}
			</if>
		</if>
	</sql>
	<sql id="where_fragement_dto">
		where 1=1
		and status = 1
		<if test="entity != null">
			<if test="entity.categoryCid != null and entity.categoryCid != ''">
			and cid = #{entity.categoryCid}
			</if>
			<if test="entity.categoryParentCid != null">
			and parent_cid = #{entity.categoryParentCid}
			</if>

			<if test="entity.categoryParentCids != null">
				and parent_cid  in
				<foreach collection="entity.categoryParentCids" index="index" item="item" open="(" separator="," close=")" >
					#{item}
				</foreach>
			</if>
			<if test="entity.categoryCName != null and entity.categoryCName != ''">
			and c_name = #{entity.categoryCName}
			</if>
			<if test="entity.categoryLev != null and entity.categoryLev != ''">
			and lev = #{entity.categoryLev}
			</if>
			<if test="entity.categoryHasLeaf != null and entity.categoryHasLeaf != ''">
			and has_leaf = #{entity.categoryHasLeaf}
			</if>
			<if test="entity.categorySortNumber != null and entity.categorySortNumber != ''">
			and sort_number = #{entity.categorySortNumber}
			</if>
			<if test="entity.categoryHomeShow != null and entity.categoryHomeShow != ''">
			and home_show = #{entity.categoryHomeShow}
			</if>
			<if test="entity.categoryCreateId != null and entity.categoryCreateId != ''">
			and create_id = #{entity.categoryCreateId}
			</if>
			<if test="entity.categoryModifyId != null and entity.categoryModifyId != ''">
			and modify_id = #{entity.categoryModifyId}
			</if>
		</if>
	</sql>
	<!-- mysql 分页尾 -->
	<sql id="pagination_tail">
	<if test="page != null ">
	  limit #{page.pageOffset} , #{page.rows}
	</if>
	</sql>
	<select id="queryById" resultMap="itemCategoryDTOMapper" >
		select * from item_category
		where cid = #{id}
	</select>
	
	<insert id="add">
		insert into item_category(
				cid,
				parent_cid,
				c_name,
				status,
				lev,
				has_leaf,
				sort_number,
				home_show,
				category_pic_url,
				create_id,
				create_name,
				create_time,
				modify_time
		)values(
				#{categoryCid},
				#{categoryParentCid},
				#{categoryCName},
				1,
				#{categoryLev},
				#{categoryHasLeaf},
				#{categorySortNumber},
				#{categoryHomeShow},
				#{categoryPicUrl},
				#{categoryCreateId},
				#{categoryCreateName},
				now(),
				now()
		)
	</insert>
	<!-- 查询所有类目 -->
		<select id="queryItemCategoryAllList" resultMap="itemCategoryDTOMapper">
 		<include refid="selectAllColumns"/>
	    <include refid="where_fragement_dto"/>
	    <if test="page!=null">
			<include refid="pagination_tail" />
		</if>
	</select>

	<update id="updateBySelect">
		update item_category
		<trim prefix="SET" suffixOverrides=",">
			<if test="categoryCName != null">
				c_name = #{categoryCName},
			</if>
			<if test="categoryStatus != null">
				status = #{categoryStatus},
			</if>
			<if test="categoryLev != null">
				lev = #{categoryLev},
			</if>
			<if test="categoryHasLeaf != null">
				has_leaf = #{categoryHasLeaf},
			</if>
			<if test="categorySortNumber != null">
				sort_number = #{categorySortNumber},
			</if>
			<if test="categoryPicUrl != null">
				category_pic_url = #{categoryPicUrl},
			</if>
			modify_id = #{categoryModifyId},
			modify_name = #{categoryModifyName},
			modify_time = now()
		</trim>
		where cid = #{categoryCid}
	</update>

	<delete id="delete">
		delete from item_category
		<if test=" codes != null and codes.size() > 0 ">
			where id in
			<foreach collection="codes" open="(" separator="," close=")" item="code">
				#{code}
			</foreach>
		</if>
		<if test=" codes == null or codes.size() == 0 ">
			where 1 = 3
		</if>
	</delete>
	
	<select id="queryCount" resultType="java.lang.Long">
        select count(*) from item_category
        <include refid="where_fragement_dto" />
	</select>
	
	<select id="queryParentCats" resultMap="itemCategoryCascadeMapper">
		SELECT 
		  f.cid first_id,
		  f.c_name first_name,
		  s.cid second_id,
		  s.c_name second_name,
		  t.cid third_id,
		  t.c_name third_name
		FROM
		  item_category f,
		  item_category s,
		  item_category t 
		WHERE f.cid = s.parent_cid 
		  AND s.cid = t.parent_cid 
		  AND f.lev = 1 
		  AND s.lev = 2 
		  AND t.lev = 3 
		  AND f.status = 1
		  AND s.status = 1
		  AND t.status = 1
		  <if test=" lev != null and lev > 0 and lev == 1">
		  	and f.cid in 
		  </if>
		  <if test=" lev != null and lev > 0 and lev == 2">
		  	and s.cid in 
		  </if>
		  <if test=" lev != null and lev > 0 and lev == 3">
		  	and t.cid in 
		  </if>
		  <foreach collection="cids" item="cid" open="(" separator="," close=")">
		  	#{cid}
		  </foreach>
	</select>
	
	
	<select id="queryItemAttrList" resultMap="itemAttrMap">
		select
			ia.attr_id id,
  			ia.attr_name name
		FROM
		  item_attribute ia 
		WHERE ia.attr_id IN 
			<foreach collection="keyList" item="keyId" index="index" separator=","  open="(" close=")">
				#{keyId}
			</foreach>
	</select>
	
	<select id="queryItemAttrValueList" resultMap="itemAttrValueMap">
		
		SELECT 
		  iv.value_id id,
		  iv.value_name name
		FROM
		  item_attribute ia 
		  INNER JOIN item_attribute_value iv 
		    ON iv.attr_id = ia.attr_id 
		WHERE ia.attr_id = #{keyId}
		<if test="valueList !=null and valueList.size() > 0">
			  AND iv.value_id IN 
			<foreach collection="valueList" item="valueId" index="index" separator="," open="(" close=")">
				#{valueId}
			</foreach>
		</if>
	</select>
	
	
	<select id="queryThirdCatsList" resultMap="itemCategoryMapper">
		SELECT 
		  c3.*
		FROM
		  item_category c1,
		  item_category c2,
		  item_category c3 
		WHERE c1.cid = c2.parent_cid 
		  AND c2.cid = c3.parent_cid 
		  AND c1.lev = 1 
		  AND c2.lev = 2 
		  AND c3.lev = 3 
		  AND c1.status = 1 
		  AND c2.status = 1 
		  AND c3.status = 1 
		  AND (c1.cid = #{cid} 
		    OR c2.cid = #{cid} 
		    OR c3.cid = #{cid})
	</select>
	
	<!-- 根据类目级别查询对应级别的所有类目 -->
	<select id="queryItemByCategoryLev" resultMap="itemCategoryDTOMapper">
	    <include refid="selectAllColumns"/> where 1=1 and status = 1 and lev = #{categoryLev}
	</select>
	<!-- 根据cid查询类目-->
	<select id="getCategoryByChildCid" resultMap="itemCategoryDTOMapper">
	    <include refid="selectAllColumns"/> where cid=#{cid} and status = 1
	</select>
	
	<select id="queryCategoryBySyncTime" resultMap="itemCategoryCascadeMapper">
		SELECT 
		  f.cid first_id,
		  f.c_name first_name,
		  s.cid second_id,
		  s.c_name second_name,
		  t.cid third_id,
		  t.c_name third_name
		FROM
		  item_category f,
		  item_category s,
		  item_category t 
		WHERE f.cid = s.parent_cid 
		  AND s.cid = t.parent_cid 
		  AND f.lev = 1 
		  AND s.lev = 2 
		  AND t.lev = 3 
		  AND (f.modified >= #{syncTime} OR s.modified >= #{syncTime} OR t.modified >= #{syncTime})
	</select>

	<select id="queryThirdCategoryIdByName" resultType="Long">
		select * from item_category where c_name = #{categoryName} and lev = 3
	</select>

	<select id="queryItemCategoryList4SB" resultMap="itemCategoryDTOMapper">
		select * from item_category where 1=1
		<if test="entity!=null">
			<if test="entity.startTime != null and entity.endTime != null">
				and
				(
				modify_time BETWEEN #{entity.startTime}  AND #{entity.endTime}
				OR
				create_time BETWEEN #{entity.startTime}  AND #{entity.endTime}
				)
			</if>
		</if>
		<if test="page != null">
			<include refid="pagination_tail" />
		</if>
	</select>

	<select id="queryCountItemCategoryList4SB" resultType="long">
		select count(1) from item_category where 1=1
		<if test="entity!=null">
			<if test="entity.startTime != null and entity.endTime != null">
				and
				(
				modify_time BETWEEN #{entity.startTime}  AND #{entity.endTime}
				OR
				create_time BETWEEN #{entity.startTime}  AND #{entity.endTime}
				)
			</if>
		</if>
	</select>

	<!-- 根据cid查询类目-->
	<select id="getCategoryListByCids" resultMap="itemCategoryDTOMapper">
		<include refid="selectAllColumns"/>
		where
		cid in
		<foreach collection="cidList" open="(" close=")" separator="," item="cid">
			#{cid}
		</foreach>
		and status = 1
	</select>
	
	<!-- 根据名称模糊查询类目 -->
	 <select id="queryItemCategoryList" resultMap="itemCategoryDTOMapper">
 		<include refid="selectAllColumns"/>
	    where 1=1 and status=1
	    <if test="entity.categoryCName != null and entity.categoryCName != ''">
	       and c_name like CONCAT('%',#{entity.categoryCName},'%' )
		</if>
	    <if test="page != null">
			<include refid="pagination_tail" />
		</if>
	</select>
</mapper>