<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.goodscenter.dao.ItemSkuPublishInfoHistoryMapper" >
  <resultMap id="BaseResultMap" type="cn.htd.goodscenter.domain.ItemSkuPublishInfoHistory" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="stock_id" property="stockId" jdbcType="BIGINT" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="resource" property="resource" jdbcType="VARCHAR" />
    <result column="sku_id" property="skuId" jdbcType="BIGINT" />
    <result column="update_type" property="updateType" jdbcType="VARCHAR" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="display_quantity" property="displayQuantity" jdbcType="INTEGER" />
    <result column="reserve_quantity" property="reserveQuantity" jdbcType="INTEGER" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, stock_id, order_no, resource, sku_id, update_type, quantity, display_quantity,
    reserve_quantity, create_id, create_name, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from item_sku_publish_info_history
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from item_sku_publish_info_history
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.htd.goodscenter.domain.ItemSkuPublishInfoHistory" >
    insert into item_sku_publish_info_history (id, stock_id, order_no,
      resource, sku_id, update_type, 
      quantity, display_quantity, reserve_quantity, 
      create_id, create_name, create_time, message_id
      )
    values (#{id,jdbcType=BIGINT}, #{stockId,jdbcType=BIGINT}, #{orderNo,jdbcType=VARCHAR},
      #{resource,jdbcType=VARCHAR}, #{skuId,jdbcType=BIGINT}, #{updateType,jdbcType=VARCHAR}, 
      #{quantity,jdbcType=INTEGER}, #{displayQuantity,jdbcType=INTEGER}, #{reserveQuantity,jdbcType=INTEGER}, 
      #{createId,jdbcType=BIGINT}, #{createName,jdbcType=VARCHAR}, now(), #{messageId, jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.htd.goodscenter.domain.ItemSkuPublishInfoHistory" >
    insert into item_sku_publish_info_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="stockId != null" >
        stock_id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="resource != null" >
        resource,
      </if>
      <if test="skuId != null" >
        sku_id,
      </if>
      <if test="updateType != null" >
        update_type,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="displayQuantity != null" >
        display_quantity,
      </if>
      <if test="reserveQuantity != null" >
        reserve_quantity,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createName != null" >
        create_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="stockId != null" >
        #{stockId,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="resource != null" >
        #{resource,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null" >
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="updateType != null" >
        #{updateType,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="displayQuantity != null" >
        #{displayQuantity,jdbcType=INTEGER},
      </if>
      <if test="reserveQuantity != null" >
        #{reserveQuantity,jdbcType=INTEGER},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="createName != null" >
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.htd.goodscenter.domain.ItemSkuPublishInfoHistory" >
    update item_sku_publish_info_history
    <set >
      <if test="stockId != null" >
        stock_id = #{stockId,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="resource != null" >
        resource = #{resource,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null" >
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="updateType != null" >
        update_type = #{updateType,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="displayQuantity != null" >
        display_quantity = #{displayQuantity,jdbcType=INTEGER},
      </if>
      <if test="reserveQuantity != null" >
        reserve_quantity = #{reserveQuantity,jdbcType=INTEGER},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="createName != null" >
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.htd.goodscenter.domain.ItemSkuPublishInfoHistory" >
    update item_sku_publish_info_history
    set stock_id = #{stockId,jdbcType=BIGINT},
      order_no = #{orderNo,jdbcType=VARCHAR},
      resource = #{resource,jdbcType=VARCHAR},
      sku_id = #{skuId,jdbcType=BIGINT},
      update_type = #{updateType,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=INTEGER},
      display_quantity = #{displayQuantity,jdbcType=INTEGER},
      reserve_quantity = #{reserveQuantity,jdbcType=INTEGER},
      create_id = #{createId,jdbcType=BIGINT},
      create_name = #{createName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="select" parameterType="cn.htd.goodscenter.domain.ItemSkuPublishInfoHistory" resultMap="BaseResultMap">
    SELECT * FROM item_sku_publish_info_history
    WHERE
      stock_id = #{stockId,jdbcType=BIGINT}
      AND order_no = #{orderNo,jdbcType=VARCHAR}
      <if test="updateType != null">
        AND update_type = #{updateType,jdbcType=VARCHAR}
      </if>
      <if test="messageId != null">
        AND message_id = #{messageId, jdbcType=VARCHAR}
      </if>
  </select>

  <select id="selectLastStockRecord" parameterType="cn.htd.goodscenter.domain.ItemSkuPublishInfoHistory" resultMap="BaseResultMap">
    SELECT * FROM item_sku_publish_info_history
    WHERE
    stock_id = #{stockId,jdbcType=BIGINT}
    AND order_no = #{orderNo,jdbcType=VARCHAR}
    ORDER BY create_time DESC
    LIMIT 1
  </select>
</mapper>