<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bjucloud.contentcenter.dao.HelpDocumentTopicDAO">

	<resultMap id="base_resultMap_helpDocTopic" type="com.bjucloud.contentcenter.domain.HelpDocTopic">
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="topict_code" property="topictCode" jdbcType="VARCHAR" />
    <result column="topict_name" property="topictName" jdbcType="VARCHAR" />
    <result column="category_code" property="categoryCode" jdbcType="VARCHAR" />
    <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
    <result column="second_category_code" property="secondCategoryCode" jdbcType="VARCHAR" />
    <result column="second_category_name" property="secondCategoryName" jdbcType="VARCHAR" />
    <result column="sort_num" property="sortNum" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="is_publish" property="isPublish" jdbcType="TINYINT" />
    <result column="visit_url" property="visitUrl" jdbcType="VARCHAR" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_id" property="modifyId" jdbcType="BIGINT" />
    <result column="modify_name" property="modifyName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	
	<select id="getHelpDocTopicsByParams" parameterType="com.bjucloud.contentcenter.dto.HelpDocTopicDTO" resultMap="base_resultMap_helpDocTopic">
	select id,topict_code,topict_name,category_code,category_name,second_category_code,second_category_name,
    sort_num,content,is_publish,visit_url,create_id,create_name,create_time,modify_id,modify_name,modify_time  
	from help_doc_topic   
	where is_publish = 1 and 
	 	<if test="id != null">
			id = #{id,jdbcType=BIGINT}  
		</if>
		<if test="topictCode != null and topictCode != ''">
			topict_code = #{topictCode,jdbcType=VARCHAR}  
		</if>
		<if test="categoryCode != null and categoryCode != ''">
			category_code = #{categoryCode,jdbcType=VARCHAR}  
		</if>
		<if test="secondCategoryCode != null and secondCategoryCode != ''">
			second_category_code = #{secondCategoryCode,jdbcType=VARCHAR}  
		</if>
	  order by sort_num  
	</select>

	<select id="getNoContentFieldOfTopicsByParams" parameterType="com.bjucloud.contentcenter.dto.HelpDocTopicDTO" resultMap="base_resultMap_helpDocTopic">
	select id,topict_code,topict_name,category_code,category_name,second_category_code,second_category_name,
    sort_num,is_publish,visit_url,create_id,create_name,create_time,modify_id,modify_name,modify_time  
	from help_doc_topic   
	where is_publish = 1 and 
	 	<if test="id != null">
			id = #{id,jdbcType=BIGINT}  
		</if>
		<if test="topictCode != null and topictCode != ''">
			topict_code = #{topictCode,jdbcType=VARCHAR}  
		</if>
		<if test="categoryCode != null and categoryCode != ''">
			category_code = #{categoryCode,jdbcType=VARCHAR}  
		</if>
		<if test="secondCategoryCode != null and secondCategoryCode != ''">
			second_category_code = #{secondCategoryCode,jdbcType=VARCHAR}  
		</if>
	  order by sort_num  
	</select>
	
	<select id="getHelpDocTopicsByTopicCode" resultMap="base_resultMap_helpDocTopic">
	select id,topict_code,topict_name,category_code,category_name,second_category_code,second_category_name,
    sort_num,content,is_publish,visit_url,create_id,create_name,create_time,modify_id,modify_name,modify_time  
	from help_doc_topic   
	where is_publish = 1 and  topict_code = #{topictCode,jdbcType=VARCHAR}  
	</select>


</mapper>