<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjucloud.contentcenter.dao.LoginPageDAO">
    <resultMap id="BaseResultMap" type="com.bjucloud.contentcenter.dto.LoginPageDTO">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
        <result column="link_url" jdbcType="VARCHAR" property="linkUrl" />
        <result column="create_id" jdbcType="BIGINT" property="createId" />
        <result column="create_name" jdbcType="VARCHAR" property="createName" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="modify_id" jdbcType="BIGINT" property="modifyId" />
        <result column="modify_name" jdbcType="VARCHAR" property="modifyName" />
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    </resultMap>
    <sql id="Base_Column_List">
        id, pic_url, link_url, create_id, create_name, create_time, modify_id, modify_name,
        modify_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from login_page
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from login_page
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.bjucloud.contentcenter.dto.LoginPageDTO" useGeneratedKeys="true" keyProperty="id">
        insert into login_page (pic_url, link_url,
        create_id, create_name, create_time,
        modify_id, modify_name, modify_time
        )
        values ( #{picUrl,jdbcType=VARCHAR}, #{linkUrl,jdbcType=VARCHAR},
        #{createId,jdbcType=BIGINT}, #{createName,jdbcType=VARCHAR}, now(),
        #{modifyId,jdbcType=BIGINT}, #{modifyName,jdbcType=VARCHAR}, now()
        )
    </insert>
    <insert id="insertSelective" parameterType="com.bjucloud.contentcenter.dto.LoginPageDTO">
        insert into login_page
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">	
                id,
            </if>
            <if test="picUrl != null">
                pic_url,
            </if>
            <if test="linkUrl != null">
                link_url,
            </if>
            <if test="createId != null">
                create_id,
            </if>
            <if test="createName != null">
                create_name,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyId != null">
                modify_id,
            </if>
            <if test="modifyName != null">
                modify_name,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="picUrl != null">
                #{picUrl,jdbcType=VARCHAR},
            </if>
            <if test="linkUrl != null">
                #{linkUrl,jdbcType=VARCHAR},
            </if>
            <if test="createId != null">
                #{createId,jdbcType=BIGINT},
            </if>
            <if test="createName != null">
                #{createName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyId != null">
                #{modifyId,jdbcType=BIGINT},
            </if>
            <if test="modifyName != null">
                #{modifyName,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.bjucloud.contentcenter.dto.LoginPageDTO">
        update login_page
        <set>
            <if test="picUrl != null">
                pic_url = #{picUrl,jdbcType=VARCHAR},
            </if>
            <if test="linkUrl != null">
                link_url = #{linkUrl,jdbcType=VARCHAR},
            </if>
            <if test="createId != null">
                create_id = #{createId,jdbcType=BIGINT},
            </if>
            <if test="createName != null">
                create_name = #{createName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyId != null">
                modify_id = #{modifyId,jdbcType=BIGINT},
            </if>
            <if test="modifyName != null">
                modify_name = #{modifyName,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.bjucloud.contentcenter.dto.LoginPageDTO">
        update login_page
        set pic_url = #{picUrl,jdbcType=VARCHAR},
        link_url = #{linkUrl,jdbcType=VARCHAR},
        create_id = #{createId,jdbcType=BIGINT},
        create_name = #{createName,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        modify_id = #{modifyId,jdbcType=BIGINT},
        modify_name = #{modifyName,jdbcType=VARCHAR},
        modify_time = #{modifyTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="findAll" resultMap="BaseResultMap">
        select * from login_page order by modify_time desc
    </select>
</mapper>