<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bjucloud.contentcenter.dao.MallRecommendAttrDAO">
	<resultMap id="mallRecommendAttrMapper" type="com.bjucloud.contentcenter.domain.MallRecommendAttr">
			<result property="id" column="id" />
			<result property="itemId" column="item_id" />
			<result property="platformId" column="platform_id" />
			<result property="source" column="source" />
			<result property="recId" column="rec_id" />
			<result property="created" column="created" />
			<result property="modified" column="modified" />
			<result property="status" column="status" />
			<result property="startTime" column="start_time" />
			<result property="endTime" column="end_time" />
			<result property="recType" column="rec_type" />
			<result property="picSrc" column="pic_src" />
			<result property="url" column="url" />
			<result property="adWords" column="ad_words" />
			<result property="title" column="title" />
			<result property="sortNumber" column="sort_number" />
			<result property="pictureCode" column="picture_code" />
	</resultMap>
	<sql id="where_ecm">
		<where>
			<if test=" entity.id!=null ">
				AND entity.id = #{entity.id}
			</if>
			<if test=" entity.itemId!=null ">
				AND entity.item_id = #{entity.itemId}
			</if>
			<if test=" entity.recId!=null ">
				AND entity.rec_id = #{entity.recId}
			</if>
			<if test=" entity.created!=null ">
				AND entity.created = #{entity.created}
			</if>
			<if test=" entity.modified!=null ">
				AND entity.modified = #{entity.modified}
			</if>
			<if test=" entity.status!=null ">
				AND entity.status = #{entity.status}
			</if>
			<if test=" entity.timeFlag == 1 ">
				<if test=" entity.startTime != null ">
					and entity.created >= date_format(#{entity.startTime},'%Y-%m-%d')
				</if>
				<if test=" entity.endTime != null ">
					<![CDATA[
					and entity.created <= DATE_ADD(date_format(#{entity.endTime},'%Y-%m-%d'), INTERVAL + 1 DAY)
					]]>
				</if>
			</if>
			<if test=" entity.timeFlag == 2 ">
				<if test=" entity.startTime != null ">
					and entity.start_time >= date_format(#{entity.startTime},'%Y-%m-%d')
				</if>
				<if test=" entity.endTime != null ">
					<![CDATA[
					and entity.start_time <= DATE_ADD(date_format(#{entity.endTime},'%Y-%m-%d'), INTERVAL + 1 DAY)
					]]>
				</if>
			</if>
			<if test=" entity.timeFlag == 3 ">
				<if test=" entity.startTime != null ">
					and entity.end_time >= date_format(#{entity.startTime},'%Y-%m-%d')
				</if>
				<if test=" entity.endTime != null ">
					<![CDATA[
					and entity.end_time <= DATE_ADD(date_format(#{entity.endTime},'%Y-%m-%d'), INTERVAL + 1 DAY)
					]]>
				</if>
			</if>
			<if test=" entity.recType!=null ">
				AND entity.rec_type = #{entity.recType}
			</if>
			<if test=" entity.picSrc!=null ">
				AND entity.pic_src = #{entity.picSrc}
			</if>
			<if test=" entity.url!=null ">
				AND entity.url = #{entity.url}
			</if>
			<if test=" entity.adWords!=null ">
				AND entity.ad_words = #{entity.adWords}
			</if>
			<if test=" entity.title!=null and entity.title!='' ">
				<if test=" entity.recType == 12 or entity.recType == 1 or entity.recType == 2 ">
				AND entity.title like concat('%',#{entity.title},'%')
				</if>
				<if test=" entity.recType == 34 or entity.recType == 3 or entity.recType == 4 ">
				AND entity.ad_words like concat('%',#{entity.title},'%')
				</if>
                <if test=" entity.recType == null ">
                    AND ((entity.ad_words like concat('%',#{entity.title},'%'))or(entity.title like concat('%',#{entity.title},'%')))
                </if>
			</if>
			<if test=" entity.sortNum!=null ">
				AND entity.sortNum = #{entity.sortNumber}
			</if>
			<if test=" entity.themeType != null and entity.themeType != '' and entity.themeStatus != 0">
				and mt.type = #{entity.themeType}
			</if>
			<if test=" entity.themeStatus != null and entity.themeStatus != ''  and entity.themeStatus != 0">
				and mt.status = #{entity.themeStatus}
			</if>
			<if test=" entity.themeUId != null and entity.themeUId != '' ">
				and mt.userId = #{entity.themeUId}
			</if>
			<if test=" entity.themeId != null and entity.themeId != '' ">
				and mt.id = #{entity.themeId}
			</if>
			<if test=" entity.floorId != null and entity.floorId != '' ">
				and rec.id = #{entity.floorId}
			</if>
		</where>
	</sql>
	<sql id="where">
		<where>

			<if test=" entity.id!=null ">
				AND entity.id = #{entity.id}
			</if>
			<if test=" entity.itemId!=null ">
				AND entity.item_id = #{entity.itemId}
			</if>
			<if test=" entity.platformId!=null ">
				AND entity.platform_id = #{entity.platformId}
			</if>
			<if test=" entity.source!=null ">
				AND entity.source = #{entity.source}
			</if>
			<if test=" entity.recId!=null ">
				AND entity.rec_id = #{entity.recId}
			</if>
			<if test=" entity.created!=null ">
				AND entity.created = #{entity.created}
			</if>
			<if test=" entity.modified!=null ">
				AND entity.modified = #{entity.modified}
			</if>
			<if test=" entity.status!=null ">
				AND entity.status = #{entity.status}
			</if>
			<if test=" entity.timeFlag == 1 ">
				<if test=" entity.startTime != null ">
					and entity.created >= date_format(#{entity.startTime},'%Y-%m-%d')
				</if>
				<if test=" entity.endTime != null ">
					<![CDATA[
					and entity.created <= DATE_ADD(date_format(#{entity.endTime},'%Y-%m-%d'), INTERVAL + 1 DAY)
					]]>
				</if>
			</if>
			<if test=" entity.timeFlag == 2 ">
				<if test=" entity.startTime != null ">
					and entity.start_time >= date_format(#{entity.startTime},'%Y-%m-%d')
				</if>
				<if test=" entity.endTime != null ">
					<![CDATA[
					and entity.start_time <= DATE_ADD(date_format(#{entity.endTime},'%Y-%m-%d'), INTERVAL + 1 DAY)
					]]>
				</if>
			</if>
			<if test=" entity.timeFlag == 3 ">
				<if test=" entity.startTime != null ">
					and entity.end_time >= date_format(#{entity.startTime},'%Y-%m-%d')
				</if>
				<if test=" entity.endTime != null ">
					<![CDATA[
					and entity.end_time <= DATE_ADD(date_format(#{entity.endTime},'%Y-%m-%d'), INTERVAL + 1 DAY)
					]]>
				</if>
			</if>
			<if test=" entity.recType!=null ">
				AND entity.rec_type = #{entity.recType}
			</if>
			<if test=" entity.picSrc!=null ">
				AND entity.pic_src = #{entity.picSrc}
			</if>
			<if test=" entity.url!=null ">
				AND entity.url = #{entity.url}
			</if>
			<if test=" entity.adWords!=null ">
				AND entity.ad_words = #{entity.adWords}
			</if>
			<if test=" entity.title!=null and entity.title!='' ">
				<if test=" entity.recType == 12 or entity.recType == 1 or entity.recType == 2 ">
				AND entity.title like concat('%',#{entity.title},'%')
				</if>
				<if test=" entity.recType == 34 or entity.recType == 3 or entity.recType == 4 ">
				AND entity.ad_words like concat('%',#{entity.title},'%')
				</if>
                <if test=" entity.recType == null ">
                    AND ((entity.ad_words like concat('%',#{entity.title},'%'))or(entity.title like concat('%',#{entity.title},'%')))
                </if>
			</if>
			<if test=" entity.sortNumber!=null ">
				AND entity.sort_number = #{entity.sortNumber}
			</if>
		</where>
	</sql>

	<sql id="pagination_tail">
	  limit #{ page.pageOffset } , #{page.rows}
	</sql>

	<select id="queryById" resultMap="mallRecommendAttrMapper" >
		select * from mall_recommend_attr
		where id = #{id}
	</select>

	<insert id="add">
		insert into mall_recommend_attr(
				item_id,
				platform_id,
				source,
				rec_id,
				created,
				modified,
				status,
				start_time,
				end_time,
				rec_type,
				pic_src,
				url,
				ad_words,
				title,
				sort_number,
				picture_code
		)values(
				#{itemId},
				#{platformId},
				#{source},
				#{recId},
				NOW(),
				NOW(),
				#{status},
				#{startTime},
				#{endTime},
				#{recType},
				#{picSrc},
				#{url},
				#{adWords},
				#{title},
				#{sortNumber},
				#{pictureCode}
		)
		<selectKey resultType="long" order="AFTER" keyProperty="id">
			select @@IDENTITY
		</selectKey>
	</insert>

	<update id="update">
		update mall_recommend_attr set
				item_id = #{itemId},
				platform_id = #{platformId},
				source = #{source},
				rec_id = #{recId},
				modified = NOW(),
				status = #{status},
				start_time = #{startTime},
				end_time = #{endTime},
				rec_type = #{recType},
				pic_src = #{picSrc},
				url = #{url},
				ad_words = #{adWords},
				title = #{title},
				sort_number = #{sortNumber},
				picture_code = #{pictureCode}
		where id = #{id}
	</update>
	<update id="updateBySelect">

	</update>

	<delete id="delete" parameterType="Object">
		<![CDATA[
			delete from mall_recommend_attr where id = #{id}
		]]>
	</delete>

	<select id="queryCount" resultType="long">
		select count(0) from mall_recommend_attr entity
		inner join  mall_recommend_subtab subtab on entity.rec_id = subtab.id
		<include refid="where"/>
	</select>
	
	<select id="queryPage" resultType="com.bjucloud.contentcenter.dto.MallRecAttrDTO">
		SELECT entity.id,
		       entity.sort_number sortNum,
		       entity.item_id     itemId,
		       entity.rec_id      recId,
		       subtab.title           recName,
		       entity.created,
		       entity.modified,
		       entity.status,
		       entity.rec_type    recType,
		       entity.pic_src     picSrc,
		       entity.url,
		       entity.ad_words    adWords,
		       entity.title,
		       entity.start_time  startTime,
		       entity.end_time  endTime,
		       entity.picture_code pictureCode,
		       rec.id	floorId,
			   rec.title	floorName
		FROM   mall_recommend_attr entity
		inner join  mall_recommend_subtab subtab  on entity.rec_id = subtab.id
		INNER JOIN  mall_recommend rec on rec.id = subtab.red_id
		<include refid="where"/>
		order by entity.picture_code,entity.sort_number,entity.modified desc
		<include refid="pagination_tail"/>
	</select>
	<select id="equeryCount" resultType="long">
		SELECT 
		       count(0)
		FROM ((mall_theme as mt INNER JOIN  mall_recommend rec on rec.theme_id=mt.id)
		inner join  mall_recommend_subtab subtab  on rec.id = subtab.red_id)
		inner join mall_recommend_attr entity on entity.rec_id = subtab.id
		<include refid="where_ecm"/>
	</select>
	<select id="equeryPage" resultType="com.bjucloud.contentcenter.dto.MallRecAttrECMDTO">
		SELECT 
		       mt.id as themeId,
			   mt.theme_name as themeName,
			   mt.type as themeType,
			   mt.status as themeStatus,
			   mt.userId as themeUid, 
			   entity.id,
		       entity.sort_number sortNum,
		       entity.item_id     itemId,
		       entity.rec_id      recId,
		       subtab.title           recName,
		       entity.created,
		       entity.modified,
		       entity.status,
		       entity.rec_type    recType,
		       entity.pic_src     picSrc,
		       entity.url,
		       entity.ad_words    adWords,
		       entity.title,
		       entity.start_time  startTime,
		       entity.end_time  endTime,
		       entity.picture_code pictureCode,
		       rec.id	floorId,
			   rec.title	floorName
		FROM ((mall_theme as mt INNER JOIN  mall_recommend rec on rec.theme_id=mt.id)
		inner join  mall_recommend_subtab subtab  on rec.id = subtab.red_id)
		inner join mall_recommend_attr entity on entity.rec_id = subtab.id
		<include refid="where_ecm"/>
		order by entity.picture_code,entity.sort_number,entity.modified desc
		<include refid="pagination_tail"/>
	</select>
	<select id="queryList" resultMap="mallRecommendAttrMapper">
		select * from mall_recommend_attr entity
		<include refid="where"/>
	</select>

	<update id="modifyMallRecAttrStatus">
		update mall_recommend_attr set status = #{status}
		where id = #{id}
	</update>
</mapper>