<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						   http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
						   http://www.springframework.org/schema/context
						   http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <bean id="scheduleManagerFactory"
        class="com.taobao.pamirs.schedule.strategy.TBScheduleManagerFactory"
        init-method="init">
        <property name="zkConfig">
            <map>
                <entry key="zkConnectString" value="${tbschedule.registry.address}" />
                <entry key="rootPath" value="${tbschedule.rootPath}" />
                <entry key="zkSessionTimeout" value="${tbschedule.timeout}" />
                <entry key="userName" value="${tbschedule.userName}" />
                <entry key="password" value="${tbschedule.password}" />
                <entry key="isCheckParentPath" value="${tbschedule.isCheckParentPath}" />

            </map>
        </property>
    </bean>
    <!-- 定时任务 修改顶通广告栏状态 -->
    <bean id="updateTopAdvertiseStatusTask" class="com.bjucloud.contentcenter.service.task.UpdateTopAdvertiseStatusTask"/>
    <!-- 定时任务 修改静态广告栏状态 -->
    <bean id="updateStaticAdvertiseStatusTask" class="com.bjucloud.contentcenter.service.task.UpdateStaticAdvertiseStatusTask"/>
    <!-- 定时任务 修改城市站轮播广告状态 -->
    <bean id="updateSubCarouselAdStatusTask" class="com.bjucloud.contentcenter.service.task.UpdateSubCarouselAdStatusTask"/>
    <!-- 定时任务 修改总部轮播广告状态 -->
    <bean id="updateHeadAdStatusTask" class="com.bjucloud.contentcenter.service.task.UpdateHeadAdStatusTask"/>
</beans>
