<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.htd.tradecenter.dao.ShopFreightTemplateDAO">
	<resultMap id="shopFreightTemplateDTO" type="cn.htd.tradecenter.dto.ShopFreightTemplateDTO">
		<id column="id" property="id" />
		<result column="seller_id" property="sellerId" />
		<result column="shop_id" property="shopId" />
		<result column="template_name" property="templateName" />
		<result column="province_id" property="provinceId" />
		<result column="city_id" property="cityId" />
		<result column="county_id" property="countyId" />
		<result column="delivery_time" property="deliveryTime" />
		<result column="postage_free" property="postageFree" />
		<result column="delivery_type" property="deliveryType" />
		<result column="valuation_way" property="valuationWay" />
		<result column="delete_flag" property="deleteFlag" />
		<result column="create_id" property="createId" />
		<result column="create_time" property="createTime" />
		<result column="create_name" property="createName" />
		<result column="create_time" property="createTime" />
		<result column="modify_id" property="modifyId" />
		<result column="modify_name" property="modifyName" />
		<result column="modify_time" property="modifyTime" />
	</resultMap>
	<!-- =========================================================== -->
	<!-- 一些公共变量设置 -->
	<!-- =========================================================== -->
	<!-- mysql 分页 -->
	<sql id="pagination_tail">
		limit #{page.pageOffset} , #{page.rows}
	</sql>

	<!-- mysql 查询总数 -->
	<sql id="count_Tail">
		select count(1) from
	</sql>
	<!--where条件 -->
	<sql id="where_shopFerightTemplateAll">
		where 1=1
		<if test="entity!=null">
			<if test="entity.id != null  and entity.id !=''">
				<![CDATA[ and id  = #{entity.id} ]]>
			</if>
			<if test="entity.templateName != null  and entity.templateName !=''">
				<![CDATA[ and template_name  like CONCAT('%','${entity.templateName}','%' ) ]]>
			</if>
			<if test="entity.deliveryTime != null  and entity.deliveryTime !=''">
				<![CDATA[ and delivery_time  = #{entity.deliveryTime} ]]>
			</if>
			<if test="entity.postageFree != null  and entity.postageFree !=''">
				<![CDATA[ and postage_free  = #{entity.postageFree} ]]>
			</if>
			<if test="entity.deliveryType != null  and entity.deliveryType !=''">
				<![CDATA[ and delivery_type  = #{entity.deliveryType} ]]>
			</if>
			<if test="entity.valuationWay != null  and entity.valuationWay !=''">
				<![CDATA[ and valuation_way  = #{entity.valuationWay} ]]>
			</if>
			<if test="entity.shopId != null  and entity.shopId !=''">
				<![CDATA[ and shop_id  = #{entity.shopId} ]]>
			</if>
			<if test="entity.sellerId != null  and entity.sellerId !=''">
				<![CDATA[ and seller_id  = #{entity.sellerId} ]]>
			</if>
			<if test="entity.createId != null  and entity.createId !=''">
				<![CDATA[ and create_id  = #{entity.createId} ]]>
			</if>
			<if test="entity.createName != null  and entity.createName !=''">
				<![CDATA[ and create_name  = #{entity.createName} ]]>
			</if>
			<if test="entity.createTime != null  and entity.createTime !=''">
				<![CDATA[ and create_time  = #{entity.createTime} ]]>
			</if>
			<if test="entity.modifyId != null  and entity.modifyId !=''">
				<![CDATA[ and modify_id  = #{entity.modifyId} ]]>
			</if>
			<if test="entity.modifyName != null  and entity.modifyName !=''">
				<![CDATA[ and modify_name  = #{entity.modifyName} ]]>
			</if>
			<if test="entity.modifyTime != null  and entity.modifyTime !=''">
				<![CDATA[ and modify_time  = #{entity.modifyTime} ]]>
			</if>
			<if test="entity.deleteFlag != null ">
				<![CDATA[ and delete_flag  = #{entity.deleteFlag} ]]>
			</if>
			<if test="entity.startTime != null">
				<![CDATA[
				and DATE_FORMAT(create_time, '%Y-%m-%d') >=  DATE_FORMAT(#{entity.startTime}, '%Y-%m-%d')
				]]>
			</if>
			<if test="entity.endTime != null">
				<![CDATA[
				and date_format(create_time,'%Y-%m-%d')  <= date_format(#{entity.endTime},'%Y-%m-%d')
				]]>
			</if>
		</if>
		ORDER BY id DESC
	</sql>

	<sql id="Base_Column_List">
		select
			id, template_name, province_id, city_id, county_id,delivery_time,
			postage_free,delete_flag, delivery_type, valuation_way, shop_id, seller_id,
			create_time, create_id, create_name,
			modify_time, modify_id, modify_name
		from shop_freight_template
	</sql>

	<select id="queryById" parameterType="java.lang.Long" resultMap="shopFreightTemplateDTO">
		<include refid="Base_Column_List" />
		where id = #{id}
	</select>

	<select id="queryList" resultMap="shopFreightTemplateDTO">
		<include refid="Base_Column_List" />
		<include refid="where_shopFerightTemplateAll" />
		<if test="page!=null">
			<include refid="pagination_tail" />
		</if>
	</select>

	<select id="queryCount" resultType="long">
		<include refid="count_Tail" />
		shop_freight_template
		<include refid="where_shopFerightTemplateAll" />
	</select>

	<delete id="delete">
		delete from shop_freight_template
		where id = #{id}
	</delete>

	<insert id="add" useGeneratedKeys="true" keyProperty="id">
		insert into shop_freight_template
		(
			template_name,
			 postage_free,
			valuation_way, shop_id, seller_id,
			create_time, create_id, create_name,
			modify_time, modify_id, modify_name,
			delete_flag
		)
		values
		(
			#{templateName},
			 #{postageFree},
			#{valuationWay}, #{shopId}, #{sellerId},
			now(), #{createId}, #{createName},
			now(), #{modifyId}, #{modifyName},
			#{deleteFlag}
		)
	</insert>

	<insert id="addForSeller" useGeneratedKeys="true" keyProperty="id">
		insert into shop_freight_template
		(
		template_name,
		 postage_free, shop_id, seller_id,
		create_time, create_id, create_name,
		modify_time, modify_id, modify_name,
		delete_flag
		)
		values
		(
		#{templateName},
	    #{postageFree},#{shopId}, #{sellerId},
		now(), #{createId}, #{createName},
		now(), #{modifyId}, #{modifyName},
		#{deleteFlag}
		)
	</insert>

	<update id="update">
		update shop_freight_template
		<set>
			<if test="templateName != null">
				template_name = #{templateName},
			</if>
			<if test="provinceId != null">
				province_id = #{provinceId},
			</if>
			<if test="cityId != null">
				city_id = #{cityId},
			</if>
			<if test="countyId != null">
				county_id = #{countyId},
			</if>
			<if test="deliveryTime != null">
				delivery_time = #{deliveryTime},
			</if>
			<if test="postageFree != null">
				postage_free = #{postageFree},
			</if>
			<if test="deliveryType != null">
				delivery_type = #{deliveryType},
			</if>
			<if test="valuationWay != null">
				valuation_way = #{valuationWay},
			</if>
			<if test="shopId != null">
				shop_id = #{shopId},
			</if>
			<if test="sellerId != null">
				seller_id = #{sellerId},
			</if>
			<if test="modifyTime != null">
				modify_time = #{modifyTime},
			</if>
			<if test="modifyId != null">
				modify_id = #{modifyId},
			</if>
			<if test="modifyName != null">
				modify_name = #{modifyName},
			</if>
			<if test="deleteFlag != null">
				delete_flag = #{deleteFlag},
			</if>
		</set>
		where id = #{id}
	</update>
</mapper>