<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.tradecenter.dao.TradeSettlementWithdrawDAO">
    <resultMap id="tradeSettlementWithdrawDTO" type="cn.htd.tradecenter.dto.bill.TradeSettlementWithdrawDTO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="settlement_no" property="settlementNo" jdbcType="VARCHAR"/>
        <result column="trade_no" property="tradeNo" jdbcType="VARCHAR"/>
		<result column="trade_type" property="tradeType" jdbcType="VARCHAR"/>
        <result column="operate_type" property="operateType" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="BIGINT"/>
        <result column="status_text" property="statusText" jdbcType="VARCHAR"/>
        <result column="create_id" property="createId" jdbcType="BIGINT"/>
        <result column="create_name" property="createName" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_id" property="modifyId" jdbcType="BIGINT"/>
        <result column="modify_name" property="modifyName" jdbcType="VARCHAR"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="queryTraSetWithdraw" resultType="cn.htd.tradecenter.dto.bill.TradeSettlementWithdrawDTO">
        select t.settlement_no settlementNo,t.trade_no tradeNo,t.status from trade_settlement_withdraw t WHERE 1 = 1
        <if test="tradeType !=null and tradeType !=''">
            and t.trade_type=#{tradeType,jdbcType=VARCHAR}
        </if>
        <if test="operateType !=null and operateType !=''">
            and t.operate_type=#{operateType,jdbcType=VARCHAR}
        </if>
        <if test="tradeNo !=null and tradeNo !=''">
            and t.trade_no=#{tradeNo,jdbcType=VARCHAR}
        </if>
        <if test="settlementNo !=null and settlementNo !=''">
            and t.settlement_no=#{settlementNo,jdbcType=VARCHAR}
        </if>
        <if test="statusList != null and statusList.size > 0">
        	and t.status in 
            <foreach collection="statusList" index="index" item="status" open="(" separator="," close=")"> 
            	#{status} 
          	</foreach> 
        </if>
        ORDER BY modify_time desc
    </select>

    <update id="updateTraSetWithdraw" parameterType="cn.htd.tradecenter.dto.bill.TradeSettlementWithdrawDTO">
        update trade_settlement_withdraw t 
        set t.status = #{status,jdbcType=VARCHAR} ,
        t.content = #{content,jdbcType=VARCHAR} ,
        t.modify_id = #{modifyId,jdbcType=BIGINT},
        t.modify_name = #{modifyName,jdbcType=VARCHAR},
        t.modify_time = #{modifyTime,jdbcType=TIMESTAMP}
        where t.trade_no=#{tradeNo,jdbcType=VARCHAR}
        and t.trade_type=#{tradeType,jdbcType=VARCHAR}
        and t.operate_type=#{operateType,jdbcType=VARCHAR}
    </update>

    <insert id="addTraSetWithdraw" parameterType="cn.htd.tradecenter.dto.bill.TradeSettlementWithdrawDTO">
    	INSERT INTO trade_settlement_withdraw(
        settlement_no,
        trade_no,
        trade_type,
        operate_type,
        content,
        status,
        status_text,
        create_id,
        create_name,
        create_time,
        modify_id,
        modify_name,
        modify_time
      	)VALUES(
        #{settlementNo,jdbcType=VARCHAR},
        #{tradeNo,jdbcType=VARCHAR},
        #{tradeType,jdbcType=VARCHAR},
        #{operateType,jdbcType=VARCHAR},
        #{content,jdbcType=VARCHAR},
        #{status,jdbcType=BIGINT},
        #{statusText,jdbcType=VARCHAR},
        #{createId,jdbcType=BIGINT},
        #{createName,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP},
        #{modifyId,jdbcType=BIGINT},
        #{modifyName,jdbcType=VARCHAR},
        #{modifyTime,jdbcType=TIMESTAMP}
      	)
    </insert>

	<select id="queryUnSuccessTraSetWithdraw" parameterType="cn.htd.tradecenter.dto.bill.TradeSettlementWithdrawDTO" resultType="cn.htd.tradecenter.dto.bill.TradeSettlementWithdrawDTO">
		select t.settlement_no,t.trade_no,t.status from trade_settlement_withdraw t 
		WHERE status != 'SUCCESS' and t.trade_type = #{tradeType,jdbcType=VARCHAR} 
		and t.operate_type = #{operateType,jdbcType=VARCHAR} 
	</select>
</mapper>