<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.htd.tradecenter.dao.TradeOrderItemsDiscountDAO" >
  <resultMap id="BaseResultMap" type="cn.htd.tradecenter.dto.TradeOrderItemsDiscountDTO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="order_item_no" property="orderItemNo" jdbcType="VARCHAR" />
    <result column="buyer_code" property="buyerCode" jdbcType="VARCHAR" />
    <result column="seller_code" property="sellerCode" jdbcType="VARCHAR" />
    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
    <result column="promotion_id" property="promotionId" jdbcType="VARCHAR" />
    <result column="level_code" property="levelCode" jdbcType="VARCHAR" />
    <result column="buyer_coupon_code" property="buyerCouponCode" jdbcType="VARCHAR" />
    <result column="coupon_provider_type" property="couponProviderType" jdbcType="VARCHAR" />
    <result column="coupon_type" property="couponType" jdbcType="VARCHAR" />
    <result column="coupon_discount" property="couponDiscount" jdbcType="DECIMAL" />
    <result column="promotion_type" property="promotionType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id,
	order_no,
	order_item_no,
	buyer_code,
	seller_code,
	shop_id,
	promotion_id,
	level_code,
	buyer_coupon_code,
	coupon_provider_type,
	coupon_type,
	coupon_discount,
	promotion_type
  </sql>
  <select id="queryItemDiscountByOrderNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from trade_order_items_discount
    where order_no = #{_parameter,jdbcType=VARCHAR}
    order by order_item_no asc
  </select>

</mapper>